[2016-10-17 20:02] lukpueh opened #5 "libraryfy runlib and verifylib"
- [x] `verifylib.py` :Currently the verifylib is implemented as one long function. We should separate the single verification steps into function units that are called from the commandline tool `toto-verify.py`.
  Also, functions in verifylib should not contain log/debug/info statements but rather raise meaningful exceptions that might be caught in `toto-verify.py`
- [x] `runlib.py`
  Runlib is al

[2016-10-17 20:07] lukpueh opened #6 "User input, output, exceptions and return values"
Meaningful `exceptions` are preferred over zero vs. non-zero return values in `verifylib` and `runlib` (this is the pythonic way).
The command line tools `toto-run` and `toto-verify` on the other hand could catch those exceptions, print meaningful output to stderr and return zero or non-zero values.

[2016-10-17 20:27] lukpueh opened #7 "Verify expirationdate"
@SantiagoTorres [proposed to use a `datetime`](https://github.com/toto-framework/Toto/pull/3#discussion_r83093316) object for the layout's `expires` field with a default timeout (e.g. a month). This is a good idea. Also we should check this upon `toto-verify`.

[2016-10-17 20:35] lukpueh opened #8 ""Relaxed" command alignment"
Command alignment verification passes if the step command as defined in the layout and the related command as recorded by the link metadata are completely equal. If only the first `x` parameters are equal (where `x` is the minimum count of both commands) `toto-verify` should output a warning.

[2016-10-17 20:41] lukpueh opened #9 "Add key threshold"
The layout model must support an additional `threshold` field which contains an integer indicating how many pieces of link metadata must be provided to verify this step. This field is intended to be used for steps that require a higher degree of trust, so multiple functionaries must perform the operation and report the same results.
- add field to model and model validation
- change naming scheme

[2016-10-17 20:45] lukpueh opened #10 "Enable delegation"
Delegation is provided by defining a step in the root layout that will be represented by a toto link metadata file of type `layout` in verification.
This needs to be enabled in toto-verify/verifylib.

[2016-10-17 20:54] lukpueh opened #11 "Properly duplicate standard streams"
Currently we provide a command line flag to `toto-run` to either don't touch stdout and stderr, which is required if `toto-run` wraps interactive commands like e.g. `vi`, or to redirect and store them as byproducts to the link metadata.
Ideally we would like to duplicate the streams to allow both.
- Using a pipe won't work because processes like vi will complain
- Wrapping stdout/sterr in Python w

[2016-10-17 21:01] lukpueh opened #12 "PKI helper instead of throw-away util"
Currently we provide a throw-away `create_and_persist_or_load_key` function which served its purpose during development.
In future we definitely want something a little more sophisticated, although PKI is not part of the toto specification.
- Add pki helper interface to create and store public/private keypairs (offer standardized format, eg. PEM)
- Change key loading calls throughout the codebase

[2016-10-17 21:12] lukpueh opened #13 "Use validators for models and format/schema for crypto"
We share crypto specific libraries with [the update framework](https://github.com/theupdateframework/tuf) and started off toto using TUF's format/schema validation. As we are more on the OO side than TUF, we will want to replace format/schema validation with model validators, e.g. using [`attr`'s validator](https://attrs.readthedocs.io/en/stable/api.html#validators) module.
- [ ] implement validat

[2016-10-17 21:18] lukpueh opened #14 "Store matchrules as Matchrule objects and not as lists"
Currently we store the list representation of `Matchrule` objects in the according `Step` and `Inspection` fields. This is a workaround that allows us to use  `attr`'s convenient `asdict` function when dumping the layout to a file.

I suggest to [implement our own `asdict` function](https://github.com/hynek/attrs/issues/103#event-825440411) allowing us to store `Matchrules` as objects but returnin

[2016-10-17 21:24] lukpueh opened #15 "Miscellaneous material/product (artifact) enhancements"
- Support file path wildcards for artifact flags in `toto-run` and consequently in `toto-verify`
- Re-think "./" left-stripping of paths when recording artifacts (maybe this could be done in verification instead?)
- revise `record_artifacts_as_dict` function

Later:
- think of a more sophisticated way of recording artifacts than by passing file paths as command line arguments (this might deserve a

[2016-10-18 15:10] lukpueh opened #16 "Step and Inspection generalization"
Steps and Inspection are both items of the software supply supply chain defined in the layout.
Steps are performed by functionaries and correspond to one or more link metadata files, whereas Inspections are performed during toto-verification, which also produces link metadata.
Both item's link metadata is verified against the defined matchrules in a similar fashion. This bears potential for genera

[2016-10-18 15:13] JustinCappos commented on #16
Will you run verification using in-toto-run?  I thought this was with
verify...

Justin

On Tue, Oct 18, 2016 at 11:10 AM, lukpueh <notifications@github.com> wrote:

[2016-10-18 15:17] SantiagoTorres commented on #16
On Tue, Oct 18, 2016 at 08:13:29AM -0700, Justin Cappos wrote:

Internally, it sounds easier to run inspections using toto-run, and
generate unsigned links (or local links), that can be used to verify
everything.

I think this will also help with the issue we spoke about yesterday
regarding delegations.

Thanks,
-Santiago.

[2016-10-18 15:19] lukpueh opened #17 "Refactor framework name 'toto' --> 'in-toto'"
We decided to rename the framework to 'in-toto' (lat. as a whole) to avoid collisions with existing software projects.
We need to refactor the code base accordingly.

[2016-10-18 15:20] JustinCappos commented on #16
So, how would this look?  Can you post the terminal output, etc. of what I
would see if I were shoulder surfing the functionaries / client?

Justin

On Tue, Oct 18, 2016 at 11:17 AM, Santiago Torres <notifications@github.com>
wrote:

[2016-10-18 15:29] SantiagoTorres commented on #16
On Tue, Oct 18, 2016 at 08:20:45AM -0700, Justin Cappos wrote:

I think this is mostly code-wise. Although I'm missing something. To the
user this should be transparent (no mention of using toto-run should
happen on the client side).

We should do this either way, so let me start preparing something.

Thanks!
-Santiago.

[2016-10-18 15:36] JustinCappos commented on #16
Okay, but if seems like the command line argument names are being chosen to
support either a step or a verification.  So, to me, this isn't transparent
to the user.  Maybe the shoulder surfing examples will make us all
converge...

Thanks,
Justin

On Tue, Oct 18, 2016 at 11:29 AM, Santiago Torres <notifications@github.com>
wrote:

[2016-10-18 15:38] SantiagoTorres commented on #16
On Tue, Oct 18, 2016 at 08:36:33AM -0700, Justin Cappos wrote:

Yeah, I see what you mean now. I was thinking merely of code. To me it
would be simpler to have the following:

toto-verify -> runlib -> passes inspection names as arguments to create the link
toto-run -> runlib -> passes the value of --step-name to create the link.

Thanks,
-Santiago.

[2016-10-18 15:41] JustinCappos commented on #16
Sure, this makes sense to me.  I was going to suggest this approach.

Also, to revive something you mentioned earlier: I do think the client
should sign the link metadata they generate.

Justin

On Tue, Oct 18, 2016 at 11:38 AM, Santiago Torres <notifications@github.com>
wrote:

[2016-10-18 15:49] lukpueh opened #18 "Metadata pretty print"
Layout metadata and link metadata is stored in canonical json format. It would be nice to have a way of showing metadata in a logically structured and human friendly way as well.
- order fields logically instead of alphabetically
- strip keys and signatures

[2016-10-18 17:28] lukpueh commented on #16
re: "Will you run verification using in-toto-run"
It's actually the other way around. We use` in-toto-run` or more precisely, the command wrapper that records link metadata in `runlib`, in verification.

[2016-10-18 17:30] lukpueh commented on #16
*re: "I do think the client should sign the link metadata they generate"*

Do you mean the installation/verification client that runs an Inspection (using runlib from withing verifylib)? Because the link metadata produced when running a Step, i.e. `in-toto-run ... -- <step-command>`, already signs the metadata.

[2016-10-18 17:33] lukpueh commented on #16
*re:
toto-verify -> runlib -> passes inspection names as arguments to create the link
toto-run -> runlib -> passes the value of --step-name to create the link.*

Yeah this sounds reasonable. In this case we can just call the flag `--step-name`.

Anyway, I still think it would be a good idea to have a general term for Steps and Inspections, if not for `toto-run` then for `verifylib` and cleaner mod

[2016-10-18 18:23] JustinCappos commented on #18
I'll comment more (after a shoulder surfing example), but I think there are
many subtle things that can be done in the display to make this very clear.

On Tue, Oct 18, 2016 at 11:49 AM, lukpueh <notifications@github.com> wrote:

[2016-10-18 18:25] JustinCappos commented on #16
Yes, when the client runs an inspection, they would generate and sign link
metadata.

On Tue, Oct 18, 2016 at 1:30 PM, lukpueh <notifications@github.com> wrote:

[2016-10-18 18:33] lukpueh commented on #16
Hm, I think I don't understand the benefit. Inspection link metadata is created during verification and only kept in memory. Why should we sign it and then verify the signature some function calls later?

[2016-10-18 18:40] JustinCappos commented on #16
It's more that one might use it to audit later.  For example, if the end
user Santiago installs gcc, then this becomes part of his supply chain for
PPH.  So, having this metadata is useful for that.

On Tue, Oct 18, 2016 at 2:33 PM, lukpueh <notifications@github.com> wrote:

[2016-10-18 18:58] lukpueh commented on #16
Okay, I see. By audit you mean an in-toto `in-toto` verification? :) For such thing it would indeed make sense to produce and also persist Inspection link metadata. I can adapt this in the implementation. Do we want to mention it in the specification?

[2016-10-18 19:06] JustinCappos commented on #16
I think it should be there.  At least, that makes sense to me.

If a client wants to discard this link metadata, that's fine, but it should
valid to generate it according to the spec.

On Tue, Oct 18, 2016 at 2:58 PM, lukpueh <notifications@github.com> wrote:

[2016-10-18 21:46] lukpueh commented on #13
Layout model validator should prevent from adding private key portions to the `keys` field.

[2016-10-19 16:04] lukpueh opened #20 "Provide easy installation and workflow instructions"
People will want to use and try toto without downloading a multi-gig virtual machine (with old code).
- Provide README.md with easy installation and instructions for a simple workflow
- Update pip requirements file

[2016-10-19 22:06] lukpueh commented on #5
a6a781fab15aacee81467d52d9c9923438842d46 already fixes first part of the issue. More to come...

[2016-10-20 15:12] baloyan commented on #11
I have implemented it in C.
Still I am trying to do it in Python, regarding to the Python documentation it is not straightforward (or almost impossible) problem as of today.

[2016-10-20 15:41] baloyan commented on #11
OK Lukas, I think I did it in Python.
The solution is when we have error it write error message in ERROR.log file if we do not have error it means command runs correct so we can write STDOUT in OUT.log file.
Is it OK ?

[2016-10-25 14:16] lukpueh commented on #8
Fixed in https://github.com/in-toto/in-toto/pull/22/commits/c6db4fee4aa86d146769e1b8f3d625d105a9294f will merge with https://github.com/in-toto/in-toto/pull/22.

[2016-10-26 20:17] lukpueh commented on #14
@JustinCappos prefers to avoid object oriented programming as per [Secure Systems Lab programming recommendations](https://github.com/secure-systems-lab/code-style-guidelines#avoid-objects).

I think *OO* does make sense in some cases, especially for our main entities (`Layout`, `Step`, `Inspection`, `Link`).
`Matchrules` on the other hand, for which we currently use a not-so-nice workaround anywa

[2016-10-26 20:29] lukpueh opened #23 "Python 3 compatibility"
The current code base is mostly Python 3 compatible. Some minor changes are required though to use `in-toto` in both Python 2 and 3.
- Replace `print` with `print()` (cf. @SantiagoTorres's and @vladimir-v-diaz's [comments](https://github.com/in-toto/in-toto/pull/19#discussion_r84122308)
- ...

[2016-10-26 21:17] JustinCappos commented on #14
I'd also say that if we feel we have the personnel where an OO design is
going to be better, let's have that discussion.  It's more that in other
projects (Stork vs Seattle), I think we've had a huge win when more novice
programmers contribute to non-OO code.

On Wed, Oct 26, 2016 at 4:17 PM, lukpueh <notifications@github.com> wrote:

[2016-10-27 20:36] lukpueh opened #25 "Use "{}".format instead of "%s" % ()"
@SantiagoTorres made a [valid point](https://github.com/in-toto/in-toto/pull/3#discussion_r84121985) in preferring `"{}".format` over  `"%s" % ()` for string formatting.

See more info in the [Python docs](https://docs.python.org/3/library/stdtypes.html#printf-style-string-formatting):

[2016-10-27 20:43] vladimir-v-diaz commented on #25
I think the code style guidelines is sprinkled with examples like so:

[code]

[2016-10-27 20:57] SantiagoTorres commented on #25
Hmmm, I don't know if `str(foo) + ...` is better memory-wise. I guess for the simple case this wouldn't be a problem.

 Also, it doesn't allow for format specifications such as:
[code]

[2016-10-27 21:04] vladimir-v-diaz commented on #25
I find the examples listed in the guidelines easier to read, however, format() might be more convenient to use.

One could make the case that format() requires more effort to parse since you have to scan the list of variables at the end to make sense of the string, and newcomers would have to look up documentation for special uses of format()

[2016-10-27 21:05] JustinCappos commented on #25
What is wrong with using "text "+str(foo)+" more text "+str(bar)  ?

Thanks,
Justin

On Thu, Oct 27, 2016 at 4:36 PM, lukpueh <notifications@github.com> wrote:

[2016-10-27 21:13] SantiagoTorres commented on #25
I think the biggest issue is that + is a binary operator, and thus it can't be smart in the way you concatenate strings. From [here](https://softwareengineering.stackexchange.com/questions/304445/why-is-s-better-than-for-concatenation):

There's also the issue with the lack of format specifiers that I mentioned above.

I don't think this is such a big deal with small strings/examples such as the o

[2016-10-27 21:21] JustinCappos commented on #25
Right, I agree that using format strings isn't worth it in most cases.  If
we really need it for something like manipulating large json files, we can
comment this explicitly and explain the code.  So, I would say do not use
format strings except in those cases...

On Thu, Oct 27, 2016 at 5:13 PM, Santiago Torres <notifications@github.com>
wrote:

[2016-10-27 21:24] lukpueh commented on #15
Replace comma based `catch Exception, e:` with explicit name binding syntax `catch Exception as e` as [recommended in PEP8](https://www.python.org/dev/peps/pep-0008/#programming-recommendations).

[2016-10-27 21:32] SantiagoTorres commented on #25
Agreed. Maybe the best rule of thumb would be:

Would it be worth adding it somewhere in the coding guidelines?

[2016-10-28 02:17] JustinCappos commented on #25
Sure, I think this is a good addition.

On Thu, Oct 27, 2016 at 5:32 PM, Santiago Torres <notifications@github.com>
wrote:

[2016-10-28 17:39] lukpueh commented on #6
Replace comma based `catch Exception, e:` with explicit name binding syntax `catch Exception as e` as [recommended in PEP8](https://www.python.org/dev/peps/pep-0008/#programming-recommendations).

[2016-10-28 17:44] lukpueh commented on #6
@SantiagoTorres suggested to raise a custom class based exception if the caller doesn't pass an `iterable` to `import_rsa_public_keys_from_files_as_dict`. Let's keep this in mind when tackling this issue.

[2016-10-31 21:48] #5 closed

[2016-10-31 21:49] #8 closed

[2016-10-31 21:51] lukpueh commented on #12
Fixed in https://github.com/in-toto/in-toto/commit/f25721b16b155db1cedd9c02eaadd674b6d53b3f

[2016-10-31 21:51] #12 closed

[2016-11-01 14:08] lukpueh commented on #6
@vladimir-v-diaz suggested to catch `ImportError` and take out the `e` in [`import subprocess`](https://github.com/in-toto/in-toto/blob/develop/toto/runlib.py#L36).

[2016-11-01 14:22] SantiagoTorres commented on #7
fixed in #24

[2016-11-01 14:22] #7 closed

[2016-11-03 15:30] #14 closed

[2016-11-07 16:36] lukpueh opened #35 "Move default layout expiration date to constructor"
Currently the one-month default expiration date for the layout is created in the layout's `read` method.  This should rather happen in the layout's constructor.

[2016-11-07 17:40] lukpueh opened #36 "Add intelligent constructors for metadata classes"
Currently we use default constructors for all in-toto classes. There is a "factory-like" `read` method  which has been used in the demo so far.

It would be useful to have intelligent constructors or factories for objects that will be created manually by the project owner, i.e. `Layout`, `Step` and `Inspection`, with the following capabilities.

- ~~Take key dictionary or key list and create key d

[2016-11-10 17:18] lukpueh commented on #6
Let's rethink user feedback in general when addressing this issue. Some Exception messages should be give more context.

[2016-11-14 21:29] lukpueh opened #41 "Layout keys dict instead of list"
The [docstring](https://github.com/in-toto/in-toto/blob/develop/toto/models/layout.py#L63-L65) of in-toto's `Layout` as well as the [default value](https://github.com/in-toto/in-toto/blob/develop/toto/models/layout.py#L74) suggest that the `keys` property should be a list. This does not conform with the in-toto specification and the demo implementation.
The correct format is `ssl_crypto.formats.KE

[2016-11-17 23:02] lukpueh opened #43 "Fix MATCH rule ambiguities"
The current rule type `MATCH` uses the following language:
[code]
Currently this reads (my interpretation of the specification):

When I and @SantiagoTorres, who came up with the language and implemented it, tried to apply these rules in real world software supply chains, we both had difficulties to express what we wanted, which IMHO indicates that the language should be clarified and freed from a

[2016-11-17 23:32] lukpueh opened #44 "Deal with (relative) artifacts path recordings"
It can occur that the directory in which `toto-run` is executed and the base of the directory to record `materials` and `products` are not the same.
Consider below directory layout and a `toto-run` to be executed in `b` and record materials  in `a`:
[code]
this results in a `materials` list:
[code]
Currently  matchrules would need to add dots or double-dots in the path pattern to match the recorde

[2016-11-18 04:16] JustinCappos commented on #44
I like having a base-path.  Even without "../" being part of this, I can
see how this would be useful...

On Thu, Nov 17, 2016 at 6:32 PM, lukpueh notifications@github.com wrote:

[2016-11-18 15:45] lukpueh opened #45 "Replace ssl_crypto and ssl_commons submodules with securesystemslib"
Make in-toto use the tip of [secure-systems-lab/ssl_crypto](https://github.com/secure-systems-lab/ssl_crypto) and [secure-systems-lab/ssl_commons](https://github.com/secure-systems-lab/ssl_commons) as submodules.

The tip of in-toto currently uses [vladimir-v-diaz/ssl_crypto@542caed](https://github.com/vladimir-v-diaz/ssl_crypto/tree/optional-password) as crypto submodule. The common package has n

[2016-11-18 16:20] lukpueh commented on #44
@JustinCappos, do you have something specifically useful in mind?
I am also wondering how we should handle the case if recording paths have different base paths, given that one can pass multiple paths to `toto-run`'s record options, e.g.

[code]

[2016-11-18 17:42] lukpueh opened #46 "Expected command pattern instead of strict and relaxed alignment"
Currently we pass command verification upon strict (must be equal) and relaxed (must have an equal prefix) alignment of recorded command and expected command. The following examples show in what cases the alignment passes or fails.

[code]
As one can see in above examples that semantically equal commands sometimes fail whereas syntactically  (relaxed)  equal commands can pass although they have ve

[2016-11-19 15:44] JustinCappos commented on #44
I'm not 100% sure I understand.  What do you mean by recording paths?

Does having a 'move' or 'relocate' phrase make sense?

On Fri, Nov 18, 2016 at 11:20 AM, lukpueh notifications@github.com wrote:

[2016-11-19 16:22] JustinCappos commented on #46
I think that just recording what was run and having the client software
eventually warn (error?) is perhaps the best policy.  Getting too advanced
with this probably isn't worth the time.  So, simply doing a strict check
may be best.  Yes, we know someone could bypass this, but it prevents many
types of accidental 'foot-shooting'...  :)

On Fri, Nov 18, 2016 at 12:42 PM, lukpueh notifications@gith

[2016-11-19 17:21] JustinCappos commented on #43
Okay, I've been thinking about this and I don't have a problem with what
you propose.  I think that philosophically, we may be better off trying
different solutions / grammars / techniques and then seeing what works
well.  I don't know that we have enough expertise at this point to really
know how best to move forward and (as long as we do not mind changing it
later) this seems like a good way to

[2016-11-21 19:53] lukpueh commented on #44
By "recording paths" I mean paths passed as `--materials` or `--products` arguments to `toto-run.py`. These well be `walked` recursively to record every file, i.e. safe the file path and the file's hash to the materials or products list of a link.

[2016-11-21 20:05] lukpueh commented on #46
Sounds good to me.

[2016-11-23 19:55] lukpueh opened #51 "Accept matchrule string instead of lists"
I think we should allow the rule to be written as strings. A `.split()` when parsing the rule is not very expensive, whereas a split when writing the rule somehow feels stupid. I for instance script my rules like so:
[code]

[2016-11-24 05:02] JustinCappos commented on #51
I don't know about this.  What if there is a space in a file name?

On Wed, Nov 23, 2016 at 2:55 PM, lukpueh <notifications@github.com> wrote:

[2016-11-28 23:01] #13 closed

[2016-11-29 21:38] lukpueh commented on #35
Will be dealt with in https://github.com/in-toto/in-toto/issues/36

[2016-11-29 21:38] #35 closed, assigned to nobody

[2016-11-29 21:59] lukpueh commented on #51
Good point. I tend to forget that people use spaces in a file name. There is always the possibility of requiring escaping. But that adds some extra complexity. Overall, I don't think this is a pressing issue.

[2016-11-30 20:40] lukpueh commented on #6
Let me summarize my thoughts on user feedback and give some architectural context:
The current in-toto architecture has the following __components__:
 - *models*
Python classes that represent in-toto specific data structures (Layout, Link, ...), plus mostly methods for schema validation and de-/serialization
 - *libraries*
Provide in-toto logic, work on objects defined in the model (run in-toto st

[2016-12-01 15:35] lukpueh commented on #6
Moving @SantiagoTorres's  [suggestion to use present continuous instead of simple present]( https://github.com/in-toto/in-toto/pull/52#discussion_r90309768) here:

[code]

[2016-12-01 22:28] #46 closed, assigned to nobody

[2016-12-14 18:25] #41 closed, assigned to nobody

[2016-12-15 19:31] #17 closed

[2016-12-15 23:11] lukpueh commented on #43
**Re:** *Do we solely match by hash in case of wildcard patterns?*

No! This breaks if we have several files with the same hash in a globbed directory tree (e.g. the often empty `__init__py`).
A solution for this problem would be to use the directory structure in addition to the file hashes, e.g. with the help of hash trees.

The problem that remains is that we can't stop someone from maliciously

[2016-12-16 00:46] JustinCappos commented on #43
I am okay with this.

In the future, we should perhaps consider wildcards in the cases where it
either is a strict replacement in the source and destination.  So whatever
* was in source, must be the same string in the dest.

If * is in only the source, then this also makes sense to me for situations
where there is a timestamp in a file or directory name.

Anyways, to re-iterate, I am fine with wh

[2016-12-20 23:59] lukpueh commented on #20
Fixed with https://github.com/in-toto/in-toto/pull/28

[2016-12-20 23:59] #20 closed

[2016-12-21 19:54] lukpueh commented on #43
It seems that I have accidentally ignored a legitimate scenario where we want to reflect filename/path changes with matchrules. I assumed that the main goal is to guarantee that steps are properly chained together, i.e. products of step `i` are the materials of step `i+1`.

However we also want to provide the possibility to restrict what happens inside of a step. E.g. think of package step that do

[2016-12-21 21:46] lukpueh commented on #43
We will probably have to restrict the use of wildcards after all. Consider the rule
```MATCH ... *{foo,bar}* ... ``` and a source file `foofoo`. The pattern would map to a target `foobar` as well as to a `barfoo` (no one-to-one mapping).

[2016-12-21 22:55] awwad commented on #43
I was pretty confused about this for a while. (It's likely I am still confused about important bits, but perhaps this thought is of use. (: )

It sounds now to me like there are two separate things that you folks are trying to solve using Match Rules:

1. No Tampering Guarantee: Making sure the products of step X are identical to the materials of step X+1. This is always required and fundamental t

[2016-12-22 00:11] JustinCappos commented on #43
I think that the No Tampering Guarantee you want is orthogonal to this
discussion (or if it isn't, I'm confused).

The constraint of behavior focuses on what one can do within a step.  In
this case, the argument is for having a way to say "this step can move this
thing from foo to bar" (or, more precisely everything from foo/* to
bar/*).  Without this change, I think all we can say is "this step w

[2016-12-22 15:39] lukpueh commented on #43
We do use the same language to provide the no tampering guarantee as well as to constrain what a functionary can do within a step. I agree with @awwad that these are two separate concerns and maybe also could be separated conceptually.

The first is an in-toto core requirement, whereas the second one is an additional security feature, similar to "constrain stdout/stderr of a step" or "constrain th

[2016-12-22 15:54] JustinCappos commented on #43
So, what I was responding to is that I'm mildly uncomfortable with having
certain 'step' actions occur between steps.  For example, 'modify' or
'create' likely should not happen between steps because there are no
signatures on the actions.  If you're just doing matching, then of course,
this makes sense to me.  I didn't think hard about what to do with items
moving, but we need to have a decision

[2016-12-22 17:16] SantiagoTorres commented on #43
On Thu, Dec 22, 2016 at 07:54:07AM -0800, Justin Cappos wrote:

I understand your concern. This is something what Lukas brought up about
a week ago, but we realized that this can happen during regular
workflows.

One quick example is PPH. Consider the following steps:

1.- Justin writes the code, that will live under pph/*
2.- Santiago, builds the dist tarball. This will create
    dist/pph-${ver}

[2016-12-22 19:59] JustinCappos commented on #43
I wonder if I'm getting confused here.

Why doesn't your unpack verification check that the code I wrote in step 1
(my product) is moved to a specific directory in step 3 (the product of a
verification step)?

Thanks,
Justin

On Thu, Dec 22, 2016 at 12:16 PM, Santiago Torres <notifications@github.com>
wrote:

[2016-12-22 22:00] SantiagoTorres commented on #43
Yup, that's exactly the problem (or one of the solutions, rather).
We need a semantic to say "match this file that used to be here in step
1 to the file that came out of step 3 (which is now in another path).

We could always have two validation steps, one that matches and one that
moves files around, but it feels kuldgeish.

Does this make sense?

Thanks!
-Santiago.

On Thu, Dec 22, 2016 at 11:59

[2016-12-22 22:19] JustinCappos commented on #43
Okay, I'm fine with having matching and match-in-alternate-location both be
able to go back across multiple steps.  So to me, this makes sense.

Justin

On Thu, Dec 22, 2016 at 5:00 PM, Santiago Torres <notifications@github.com>
wrote:

[2016-12-23 17:55] SantiagoTorres opened #57 "Use parentheses in multi-line imports"
I've noticed that we are doing imports as follows:

[code]
While this is a correct way of doing it, I'd suggest we move to the parentheses construction instead:

[code]
The rationale behind is that our code style (which is based on pep8) [strongly hints of using parentheses for line continuation](https://github.com/secure-systems-lab/code-style-guidelines#maximum-line-length)<sup>*</sup>. [PEP8](h

[2017-01-05 19:22] lukpueh commented on #45
@vladimir-v-diaz recently merged the common secure systems lab submodules (ssl_crypto and ssl_commons) and created a stand-alone Python package [securesystemslib](https://github.com/secure-systems-lab/securesystemslib
). Thanks, Vlad!

I herby change this issue to "Replace ssl_crypto and ssl_commons submodules with securesystemslib".

[2017-01-06 19:51] #57 closed, assigned to nobody

[2017-01-06 22:27] #44 closed, assigned to nobody

[2017-01-17 18:19] lukpueh commented on #43
Below the summary of our (@SantiagoTorres and I) recent match rule discussions.
We agreed that it is paramount to have a one-to-one mapping between source and target artifacts, by file path and by file hash. Furthermore we want to provide the ability to match across file relocations. These are the properties we need in order to achieve this:

- file path pattern (applied on source and target artif

[2017-01-17 20:04] lukpueh opened #63 "Raise exception on non-zero return of Inspection command"
`Inspection` commands defined in the layout provide the possibility to execute arbitrary commands at verification time.
Inspections, like Steps, must have rules to authorize/enforce materials and products that are recorded before and after an Inspection command is run. Currently a failing rule is the only way to make an Inspection fail the verification.
Additionally, it might be desired to simply

[2017-01-18 17:19] JustinCappos commented on #43
I'm fine with this.  The important thing is to make progress and get
experience with this in real scenarios.

On Tue, Jan 17, 2017 at 1:19 PM, lukpueh <notifications@github.com> wrote:

[2017-01-24 15:56] lukpueh commented on #6
@vladimir-v-diaz recommended to add *relevant arguments/values* to exception messages and to include the *original exception message* if an exception gets re-raised.

[2017-01-24 20:43] #45 closed, assigned to nobody

[2017-02-07 16:39] #63 closed, assigned to lukpueh

[2017-03-21 19:11] lukpueh commented on #43
The key findings of the discussion in this thread are reflected in the specs as well as in the recent (merged) PR https://github.com/in-toto/in-toto/pull/70.

I will close the ticket for now and suggest to re-open in case we see need to rework the artifact rules.

[2017-03-21 19:11] #43 closed, assigned to nobody

[2017-03-21 19:12] lukpueh commented on #51
I think we can close this as won't-change for the reasons pointed out by @JustinCappos and @SantiagoTorres (offline).

[2017-03-21 19:12] #51 closed, assigned to nobody

[2017-03-21 19:13] lukpueh commented on #9
Added in https://github.com/in-toto/in-toto/pull/69. Kudos to @RohanBhirangi!

[2017-03-21 19:13] #9 closed

[2017-03-21 19:25] lukpueh commented on #15
Fixes for above items can be found in:
- Support pattern wildcards - https://github.com/in-toto/in-toto/pull/37, https://github.com/in-toto/in-toto/pull/70
- Re-think `'./'`- left-stripping - https://github.com/in-toto/in-toto/pull/56/commits/c0624605147b85cb1709355a5178a53dbee66f00
- revise record_artifact_as_dict - https://github.com/in-toto/in-toto/pull/56 (excludes), https://github.com/in-toto

[2017-03-21 19:25] #15 closed

[2017-03-22 19:42] JustinCappos opened #79 "Integrate metadata cleanly into distributed software..."
We need a better plan for how to integrate link files, the layout, delegated layouts, etc. into software we distribute.  Asking the user to copy a bunch of things really doesn't cut it.

Should there be an in-toto-bundle step which automates this (somehow)?  Should we do something different?

[2017-03-22 19:48] lukpueh commented on #79
I totally agree. The idea has been around since the first commit, but we removed the empty `bundle` modules at some point (https://github.com/in-toto/in-toto/commit/1b344c8d39e51714ccd2d3c9dd0df09ef15c7921) since we were only dragging them along without a concrete implementation idea. Probably it's time to re-think the issue.

[2017-03-22 19:59] JustinCappos commented on #79
One option is to have some sort of pack / unpack that happens, but this is
messy and requires certain tools to unpack.  So I think this is a
non-starter.

Another option is to put information about each final product somewhere and
to have the client retrieve it, if they know how to handle in-toto
metadata.  This has potential issues if you distribute the software via
some offline mechanism (such a

[2017-03-29 20:25] lukpueh opened #80 "Factor out in_toto.util to securesystemslib + general revision"
The `in_toto.util` module serves as convenience interface for `securesystemslib.keys`. We could probably move the whole module over to `securesystemslib` and revise the code while we are at it.

For instance:
@SantiagoTorres [pointed out](https://github.com/in-toto/in-toto/pull/77/files/8347abeff77273f2d8810f22d92c42a479251f12#r107967783) that there should be a better way to determine if a key is

[2017-03-29 22:36] SantiagoTorres opened #82 "Coalesce signature verification in-toto verify"
As it is now, there are two places that perform signature verification. Following review #77, we decided that both routines could be placed in the same place, and have the second place just verify that the signature matches the keyid prefix in the filename.

[2017-03-29 22:36] #25 closed

[2017-03-31 20:25] lukpueh commented on #6
Remaining points of this issue were fixed with https://github.com/in-toto/in-toto/pull/77.

[2017-03-31 20:25] #6 closed

[2017-04-24 23:02] #36 closed, assigned to nobody

[2017-05-02 17:11] SantiagoTorres opened #87 "Clean up unit-test code."
Some of the unit test code needs to be refactored and cleaned up.

This issue is left up ambiguous intentionally, as it will be discussed in an upcoming hackathon.

[2017-05-02 17:13] SantiagoTorres opened #88 "Clean up `for` loop in signature verification"
PR #85 modified an [for loop](https://github.com/RohanBhirangi/in-toto/blob/020116a0c9b4f0867975076f8da135a18c8da99b/in_toto/verifylib.py#L245-L254) inside the signature verification routines. This for loop could be further simplified and factored out.

[2017-06-09 19:52] lukpueh opened #93 "Add `in-toto-mock` command line utility"
in-toto steps are usually executed using the [`in-toto-run`](https://github.com/in-toto/in-toto/blob/develop/in_toto/in_toto_run.py) command line utility, whose functionality is implemented in the according library function [`runlib.in_toto_run`](https://github.com/in-toto/in-toto/blob/develop/in_toto/runlib.py#L330-L403).

Since this command requires a signing key and a bunch of command line argu

[2017-06-13 15:26] lukpueh opened #96 "Add `in-toto-keygen` utility"
Currently in-toto provides some [utility functions](https://github.com/in-toto/in-toto/blob/develop/in_toto/util.py) to create (password encrypted) RSA key pairs programatically.

It would be nice to additionally have a command line utility, e.g. `in-toto-keygen`, for key creation (like a stripped down `ssh-keygen`).

Keep in mind that we might want to [drop the util module](https://github.com/in-

[2017-06-13 15:40] lukpueh opened #97 "Add `in-toto-sign` command line utility"
in-toto `Layouts` and `Links` are both [signable](https://github.com/in-toto/in-toto/blob/develop/in_toto/models/common.py#L72).

Let's add a command line utility to handle in-toto metadata signatures. Here are some functions I consider helpful:

- add signature, while keeping existing signature(s)
- replace existing signature(s) with new signature
- verify signature(s)

Feel free to add your own

[2017-06-13 17:13] lukpueh opened #98 "Fix metadata signatures mismatch between specs and implementation"
We have been silently accepting a minor metadata format mismatch between specs and implementation. I think it is time to fix that by choosing one or the other.

Reason for the format as specified: Adopted from TUF
Reason for the format as implemented: `is-a` relationship seemed  (from an OO perspective)  more intuitive and easier to handle than `has-a` realtionship.

**Implementation**
[code]

**S

[2017-06-13 19:20] ShikherVerma commented on #97
Maybe it could also create a link from a link-mock file ? would that be a use case?

[2017-06-13 19:24] ShikherVerma commented on #97
Can't assign the issue to me. Need discussion more discussion about the CLI syntax before implementing.

[2017-06-13 19:24] lukpueh commented on #97
Good thought. I wonder though if it's really necessary. Do you have something in mind where this could be convenient?

[2017-06-13 19:32] ShikherVerma commented on #97
Might be useful if you want to do the *link json generation and signing separately*. Like if some super paranoid guy keeps his private gpg key on a disconnected raspberry pi and only signs stuff on it ( @adarshaj i'm looking at you) or uses a [yubikey](https://www.yubico.com/why-yubico/how-yubikey-works/) and doesn't have it while generating the link json.

[2017-06-13 19:35] lukpueh commented on #97
That definitely makes sense, but note that you can use `in-toto-run` without a key, which produces an unsigned regular `.link` file, which in turn could be signed using e.g. the here proposed command line tool.

[2017-06-13 19:51] ShikherVerma commented on #97
Oh I see. Then this extra `link-mock to link` functionality is not required.

What would be the syntax for in-toto-sign cli.
[code]
For Add signature and replace signature whose key prefix goes in the link file name ? should we have key prefix if link is singed by more than 1 person?

[2017-06-13 19:52] ShikherVerma commented on #97
What if we try to replace sign on a link which is signed by more than one person. then do remove all signatures or we add option for which signature we want to remove ?

[2017-06-13 19:57] isachit commented on #97
Shikher are you on it?

[2017-06-13 19:58] isachit commented on #97
like already started the programming? If yes, I can send you whatever I have done on this until now, if not let me know too.

[2017-06-13 19:59] ShikherVerma commented on #97
@isachit you can take up this issue :+1:

[2017-06-13 20:02] lukpueh commented on #97
Excellent questions! I had something like this in mind:

[code]
Please think of better option/flag names.

[2017-06-13 20:02] isachit commented on #97
[code]

[2017-06-13 20:03] isachit commented on #97
Oops sorry.

[2017-06-13 20:04] isachit commented on #97
Alright cool! Just wanted to ask in the `<signing key>`, the path to the pub file must be specified or? @lukpueh

[2017-06-13 20:10] lukpueh commented on #97
No you don't.

FYI, the private key actually contains private and public portion of the RSA key pair.
For signing you usually use your private key, which let's someone who verifies your signature with your public key attribute the signature to you (because you should be the only one who has that private key).

[2017-06-13 20:35] lukpueh commented on #97
Re *link keyid infix in file name if signed by more than one keys*:
Although currently it is technically possible to sign one link file with more than one keys, I am not sure if this is actually a use case. We provide link signing key thresholds by requiring multiple link files of for the same step, each signed by a (single) functionary.
Signing a `signable` with more than one keys is really only

[2017-06-13 20:37] isachit commented on #97
Noted.

[2017-06-13 20:37] isachit commented on #97
The code is nearly done. Will send it asap.

[2017-06-26 20:36] #93 closed, assigned to nobody

[2017-06-28 15:51] isachit commented on #96
On it.

[2017-07-05 20:30] lukpueh commented on #96
Implemented with https://github.com/in-toto/in-toto/pull/102

[2017-07-05 20:30] #96 closed, assigned to nobody

[2017-07-05 20:31] lukpueh commented on #10
Enabled with https://github.com/in-toto/in-toto/pull/86 and https://github.com/in-toto/in-toto/pull/94 (friendly takeover). Thanks @RohanBhirangi for the nice work!

[2017-07-05 20:31] #10 closed

[2017-07-05 21:22] lukpueh opened #103 "Add connman debianization demo"
We need more real world in-toto examples! This time it's Debian.

The idea is to show how in-toto can be used to guarantee the integrity of a software project from upstream development to installation using a Debian package management tool.

Let's use our great [in-toto Connman OpenSUSE demo](https://github.com/in-toto/in-toto/tree/develop/demo-opensuse) as a basis.

Here are some relevant pointer

[2017-07-06 03:01] ShikherVerma commented on #103
@lukpueh grabbing the issue

[2017-07-11 14:46] vladimir-v-diaz opened #104 "Cannot find link to project's website"
The README should link to the project's website.   There is also an option of adding a website to the repo by clicking on "Edit" in the repo's description.

[2017-07-11 16:15] isachit commented on #103
As pointed in [packaging diagram link](https://danielpocock.com/autotools-project-distribution-and-packaging-on-debian), the developer puts the tar ball with all the source code etc. on the web, he could put it on sourceforge or upload it anywhere of his choice. Then, the package maintainers come into picture, he can directly make a git repo by using git-import-orig either from the url of the uplo

[2017-07-11 18:36] lukpueh commented on #104
Added `https://in-toto.io` to the repo's description.

[2017-07-11 18:37] vladimir-v-diaz commented on #104
👍

[2017-07-11 18:37] #104 closed, assigned to nobody

[2017-07-11 19:57] lukpueh commented on #103
This sounds good, Sachit! I think for simplicity we start with the package maintainers and consider upstream as a blackbox (we can later try to use a sublayout for this).

Could you go ahead and list step for step the exact commands a Debian maintainer would use, from retrieving the upstream source code to building the final deb package, plus the files materials/products that are expected for each

[2017-07-12 15:02] SantiagoTorres commented on #97
Fixed in #99

[2017-07-12 15:02] #97 closed, assigned to nobody

[2017-07-12 18:26] lukpueh opened #106 "Refactor artifact rules field name"
The names of the artifact rule properties of in-toto steps and inspections have been updated in the specification to `expected_materials` and `expected_products` whereas in the implementation they are still called `material_matchrules` and `product_matchrules`.

These names have to be refactored in the codebase and documentation.

[2017-07-12 18:56] isachit commented on #106
On it.

[2017-07-12 20:58] isachit commented on #103
Step- Making the directory for the package
Command- ```mkdir <package-name>_<version-number>```

[2017-07-13 20:06] isachit commented on #103
step: Make the directory for connman, and retrieve the source code from upstream in it
commands:
``` mkdir connman-src```
```mkdir connman.<version-number>.<sub-version-number>```
``` cd connman-src```
``` curl "https://github.com/isachit/connman/archive/master.zip" -o "connman-src.zip"```
```unzip -a connman-src.zip```
```mv connman-src/* connman.<version-number>.<sub-version-number>```
materials

[2017-07-13 20:10] isachit commented on #106
I have done it. Just removing the history. Don't know why it always happens. :|

[2017-07-17 21:55] lukpueh commented on #106
Will you send a PR?

[2017-07-17 22:01] isachit commented on #106
Yes I will!

On Mon, Jul 17, 2017 at 5:55 PM, lukpueh <notifications@github.com> wrote:

--
Sachit Malik
Third Year Undergraduate
Department of Mathematics
Indian Institute of Technology, Delhi

[2017-07-19 15:34] lukpueh commented on #106
Fixed with https://github.com/in-toto/in-toto/pull/107

[2017-07-19 15:34] #106 closed, assigned to nobody

[2017-07-27 19:41] SantiagoTorres opened #108 "Layout model is missing the README field."
As of the [0.9 version of the in-toto specification](https://github.com/in-toto/docs/blob/v0.9/in-toto-spec.pdf), the Layout metadata should include an optional README field.

We need to update the Layout model to reflect this change.

[2017-08-28 20:10] lukpueh opened #109 "Integrate/require inspection commands"
in-toto inspection commands that are executed upon verification need to be on the verifier's `PATH`. How do we want to integrate [custom inspections](https://github.com/in-toto/in-toto-inspections)?

I see two options:
- Integrate them with in-toto (feasible if it's only a few)
- Maintain them as a separate project and list them as dependency for in-toto

[2017-08-29 09:08] JustinCappos commented on #109
Having a few basic building blocks that we think will be universal may make
sense.  I'm imagining something like grep or simple rule sets (return value `>=1`).

Let's keep adding things there and then for things that need to be complex
(for example, git rule sets for determining if code review matched a
specific policy), we can maintain them as a separate project.  Other
outside groups should also

[2017-08-30 19:47] lukpueh commented on #109
As a matter of fact, our summer intern @isachit has already created such basic grep-like inspection command line tools, which are hosted as a separate project (c.f. [in-toto/in-toto-inspections](https://github.com/in-toto/in-toto-inspections)).
What I am trying to figure out, is how me make sure that a verifier actually has access to those tools.

[2017-09-01 15:32] lukpueh commented on #103
We ended up using `grep` instead of `connman` for the in-toto Debian demo presented at DebConf2017. Here is a list of resources related to the demo:
- [Talk at DebConf2017](https://debconf17.debconf.org/talks/100/) (includes discussion about usability of in-toto in the scope of Debian)
- [Talk Slides](https://annex.debconf.org/debconf-share/debconf17/slides/100_in_toto__securing_supply_chains_as_a

[2017-09-01 15:32] #103 closed, assigned to nobody

[2017-09-05 21:19] lukpueh commented on #87
From a note in a23e3570374339433af04dd168b5b06feff9f2ba:

The reason is that securesystemlib's key format has changed to to include a field "keyid_hash_algorithms" when creating the hash/keyid.

This should be taken care of when fixing this issue

[2017-09-06 16:12] #108 closed, assigned to SantiagoTorres

[2017-09-06 16:39] awwad opened #114 "Readme could use a bit more explanation about in-toto workflow"
The [readme](https://github.com/in-toto/in-toto/blob/develop/README.md#in-toto--) explains in-toto's general purpose briefly, then starts explaining what a layout contains, without providing the few sentences that I think would help a reader understand the in-toto workflow.

In particular, I think that the last paragraph of the first section of the readme (*sorry, can't link line numbers in .md in

[2017-09-12 15:37] aaaaalbert commented on #114
Re linking to line numbers, @awwad: Does this work for you, https://github.com/in-toto/in-toto/commit/b919735aa44a49a90f295804c1107bedaccff165#diff-04c6e90faac2675aa89e2176d2eec7d8R9 ? (I kept expanding the diff view of the last commit to README.md, then clicked a line number inside of said paragraph.)

[2017-09-12 15:38] aaaaalbert commented on #114
Re the proposed edit/sketch, I think these are good pieces of information to add!

[2017-09-12 20:05] procrypt opened #115 "Command line completion"
It would be nice to have bash completion support for `in-toto` command line interface. I was trying out the [demo application](https://github.com/in-toto/in-toto/tree/develop/demo) and found it that the bash completion is not present.
Adding bash completion would be a good feature IMO and I'll be happy to take it as a task.
Thoughts @lukpueh @JustinCappos @SantiagoTorres

[2017-09-12 20:19] SantiagoTorres commented on #115
Doesn't sound bad in my book. But we'd have to ship it somehow, and for now we only have a python module. Any ideas on how to move forward with it?

[2017-09-12 20:28] procrypt commented on #115
@SantiagoTorres we can ship a bash file with the the whole package and it'll do the work.

[2017-09-12 20:39] vladimir-v-diaz commented on #115
I remember seeing a tab completer (written in Python) for the Seattle project.  You might want to take a look...

https://github.com/SeattleTestbed/seash/blob/3f47692aee94d7c7c8a615b662a23ae7c86bd7d8/tab_completer.py

[2017-09-12 20:45] vladimir-v-diaz commented on #115
Oh, if you need tab completion for the argument options (I was thinking in-toto had a custom command-line interface), there should be libraries for that.  Here is one:
http://argcomplete.readthedocs.io/en/latest/

[2017-09-12 20:45] SantiagoTorres commented on #115
The file should be placed under /usr/share/bash-completions or so, depending on the distribution/OS. That's what I was worried about

[2017-09-12 20:48] SantiagoTorres commented on #115
We already have something like this in  #4. I think it predates the seattle autocompleter.

I think that https://argcomplete.readthedocs.io/en/latest/ is rather hacky, as it does oh-my-zsh-like completions under bash...

[2017-09-12 21:19] lukpueh commented on #115
FYI, this is also what [git does](https://git-scm.com/book/en/v1/Git-Basics-Tips-and-Tricks#Auto-Completion), i.e. *"Download X from Y and place it under Z"*.
In general, I think bash-completion for in-toto's command line tools is a nice-to-have side-project but there might be more pressing things to do.

[2017-09-12 21:43] SantiagoTorres commented on #115
Yeah, big Linux distros don't mistreat their devs and ship that file with the git package or the bash-completions package, but that's essentially what you want to do. It boils down to having to do:

1) Support a completions file that's packaged by distros
2) have users go out of their way to install it manually

Considering that we don't have people doing 1) yet, and 2) seems quite unlikely right

[2017-09-12 21:44] lukpueh opened #116 "Enable partial verification"
Currently `in-toto-verify` calls `verifylib.in_toto_verify` and fails immediately if any of [the verification sub-routines](https://github.com/in-toto/in-toto/blob/develop/in_toto/verifylib.py#L1142-L1170) fails.

It would be useful to allow`in-toto-verify` and `verifylib` to call verification routines individually and independently, e.g. only
- a section of the supply chain
- artifact rules
- sig

[2017-09-12 22:03] lukpueh opened #117 "Revisit verbosity (stdout/stderr)"
In https://github.com/in-toto/in-toto/issues/6 we discussed and fixed many initial user feedback issues.
In the course of a layout tool user testing session, it was noted that when looking at stdout/stderr of the used tool (`in-toto-mock`) it was unclear if the command was executed properly or not.

Here are some general user feedback related items open for discussion and fixing:
- Make better use

[2017-09-12 22:19] SantiagoTorres commented on #116
Hmm, I wonder what's the use-case for this?

[2017-09-12 22:20] SantiagoTorres commented on #117
imho, this goes against UNIX design principles. I'd suggest to not say anything if the command succeeds.

[2017-09-13 14:14] lukpueh commented on #117
I think the *rule of silence* is more flexible than that. What about three verbosity levels? e.g.:
(1) quiet: no output at all
(2) reasonable: a oneliner if the command succeeds, plus warnings and errors
(3) verbose: print everything (our current default)

And we could configure the levels e.g.
- `(default)`, `-v`, `-vv`, or
- `-q`, `(default)`, `-v`

[2017-09-13 15:06] lukpueh commented on #116
The issue is related to the discussion about the preliminary verification (https://github.com/in-toto/layout-web-tool/issues/20) of the preliminary layout, generated in the in-toto layout wizard.

E.g. it would be interesting to verify if all (or maybe only some of) the steps were executed as defined in a layout and used/produced the expected materials and products, without looking at the metadata

[2017-09-13 18:22] SantiagoTorres commented on #116
I think we're conflating two things here. I don't think it's a good idea to make in-toto-verify such a broad/complicated tool.

If verifylib allows you to call functions individually, why not just import it and do that?

[2017-09-13 19:53] lukpueh commented on #116
Why don't you think it's a good idea? In my opinion it would be convenient to have a command line interface and I thought that we had a similar take on this after our discussion in https://github.com/in-toto/layout-web-tool/issues/20?

[2017-09-14 16:23] procrypt commented on #115
Cool, I'd like to work on this later as it's not in our priority list right now :)

[2017-09-14 17:41] lukpueh opened #118 "Fix in-toto-sign args/usage message"
As pointed out by @awwad https://github.com/in-toto/layout-web-tool/pull/14#discussion_r137356278 the usage message of `in-toto-sign` is inaccurate.

The short option form `-k KEYS` does not actually work with the indicated whitespace.

Also, I think we should change the subparser names. `in-toto-sign sign ...` sounds stupid.

[2017-09-27 17:46] lukpueh opened #122 "Add Link schema validation methods"
We need [schema validation](https://github.com/in-toto/in-toto/blob/develop/in_toto/models/common.py#L47-L69) for Links similar to what we do for [Layouts](https://github.com/in-toto/in-toto/blob/develop/in_toto/models/layout.py#L206-L275), [Steps](https://github.com/in-toto/in-toto/blob/develop/in_toto/models/layout.py#L337-L381) and [Inspections](https://github.com/in-toto/in-toto/blob/develop/i

[2017-09-28 14:44] #98 closed, assigned to SantiagoTorres

[2017-09-29 20:44] #114 closed, assigned to nobody

[2017-10-09 13:33] lukpueh opened #126 "Revisit exception taxonomy"
Currently in-toto raises builtin Python errors as well as custom exceptions defined in [`securesystemslib.exceptions`](https://github.com/secure-systems-lab/securesystemslib/blob/master/securesystemslib/exceptions.py) and [`in-toto.exceptions`](https://github.com/in-toto/in-toto/blob/develop/in_toto/exceptions.py).

It might be worth taking some time to grep through those `raise` statements and re

[2017-10-11 15:30] #122 closed, assigned to nobody

[2017-10-11 18:21] lukpueh opened #129 "Adopt storing environment information in link metadata"
The specification recommends storing information about the environment, in which an in-toto step is executed, to the resulting link metadata.

See section [4.4.1 Environment Information](https://github.com/in-toto/docs/blob/69c29b41f4c1fe064b5d77d61d4b268fc171bcaa/in-toto-spec.md#441-environment-information) of the specification for more details about what should be stored.

*Some preliminary ques

[2017-10-11 18:57] lukpueh opened #130 "Adopt sublayout link metadata namespacing"
According to recent specification changes in-toto sublayout verification expects link metadata files pertaining to a sublayout to reside in a fileystem directory with the following naming scheme:

`<SUBLAYOUT NAME>.<SUBLAYOUT OWNER KEYID PREFIX>`

**SUBLAYOUT NAME:** Name of step in superlayout that is carried out as sublayout
**SUBLAYOUT OWNER:** Functionary authorized to perform the step of supe

[2017-10-11 19:09] lukpueh opened #131 "Adopt replace implicit DISALLOW with ALLOW"
In https://github.com/in-toto/docs/pull/2 the implicit `DISALLOW *` at the end of each list of artifact rules (`expected_materials`, `expected_products`) was changed to an implicit `ALLOW *`.

Adopting the change might be as easy as removing [this check in the rule verification routine](https://github.com/in-toto/in-toto/blob/develop/in_toto/verifylib.py#L894-L899).

The rationale for this spec ch

[2017-10-11 20:15] lukpueh opened #132 "Adopt order of final product verification routines"
At some point the specification changed the order of the final product verification routines to only run the inspection commands after having successfully verified all steps' artifact rules.

IIRC, we also talked about only running an inspection command after having verified that inspection's material rules. However, the [current specification](https://github.com/in-toto/docs/blob/69c29b41f4c1fe06

[2017-10-12 20:35] lukpueh opened #133 "Adopt move return value inside byproduct dictionary in link metadata"
The [current specification](https://github.com/in-toto/docs/blob/69c29b41f4c1fe064b5d77d61d4b268fc171bcaa/in-toto-spec.md#44-file-formats-namekeyid-prefixlink) lists the return value as part of the opaque byproduct dictionary and not as separate field.

This change should be propagated to the [in-toto inspection command line tools](https://github.com/in-toto/in-toto-inspections).

[2017-10-12 21:35] lukpueh commented on #133
With this change we should also rename `in-toto-run`'s `--record-byproducts` option.

And maybe this is a chance to finally fix https://github.com/in-toto/in-toto/issues/11.

[2017-10-12 22:03] lukpueh commented on #109
This might be worth an extra ticket but I think we can discuss it here:

in-toto link files are [namespaced using the functionary's keyid](https://github.com/in-toto/docs/blob/master/in-toto-spec.md#44-file-formats-namekeyid-prefixlink) to avoid collisions when multiple functionaries provide (link) evidence for a step.

If an inspection is a stand-alone command line utility, how should it know whi

[2017-10-13 14:28] SantiagoTorres commented on #109
This is probably something that I should specify in the spec. As far as I remember we should locally sign the inspections in case we are part of a delegation. Otherwise, we should just use a placeholder for NOKEYID.

I think in that sense we only need a --inspection-key in the in-toto verify tool

[2017-10-13 14:36] SantiagoTorres commented on #129
Thanks for taking the initiative on this!

here's my take on these

- I don't think we need to parametrize anythign on this side for in-toto run yet. This is something I'd like to have people input before we decide. I can only think of the CWD field as a no-brainer for a sane default.
- The default would be empty string for both environment and filesystem. CWD should be just the os.getcwd() call
-

[2017-10-13 15:01] lukpueh commented on #109
This is a different question.

I was actually talking about the link metadata loaded by inspection (to do its inspecting task) and not the link metadata that is generated while running an inspection.

[2017-10-13 15:03] SantiagoTorres commented on #109
oh, that's a simpler question then. This I'd wager the link file is given as a command line parameter....

It's either that, or the keyid is passed as a parameter

[2017-10-13 15:12] SantiagoTorres commented on #132
We should *not* run inspections before checking match rules on all the steps. There are many scenarios to show how this is a bad idea which I should wikify sometime soon. I know this damages the versatility of match rules, but it's a fair tradeoff imho.

As to why we are running all inspections in a batch without verifying the material rules, I'll be added soon. I wanted to keep the diff simple to

[2017-10-13 15:42] lukpueh commented on #109
So you'd go for something like what I suggested above?

[2017-10-13 15:57] SantiagoTorres commented on #109
This sound reasonable. Another alternative would be to give the step a layout file and a step name and have it try to be smart about it.

We can probably brainstorm further about this, but I don't think this is an in-toto core issue. Should we move on with this idea and probably open a ticket on the [inspections repo](https://github.com/in-toto/in-toto-inspections)?

[2017-10-16 15:14] lukpueh commented on #109
Did you mean, "[...] give the **inspection** a layout file [...]"?

If so, then that's what I had in mind with my above suggested alternative 2. It just feels a little odd though, to pass the name/path of the layout to the inspection command, when that inspection command is defined as part of the same layout, i.e.

[code]

But I guess we can do that.

IMO we can leave the discussion here.

[2017-10-16 16:35] lukpueh commented on #82
This actually happened in https://github.com/in-toto/in-toto/pull/85. However, the way we verify signatures is somewhat confusing. I'll close here and will open a new "revisit signature verification" ticket.

[2017-10-16 16:35] #82 closed, assigned to nobody

[2017-10-16 21:34] lukpueh opened #135 "Revisit signature verification"
The signature verification method of `Link` and `Layout` objects currently fails if:
- the passed key dictionary does not match the [`KEYDICT_SCHEMA`](https://github.com/secure-systems-lab/securesystemslib/blob/master/securesystemslib/formats.py#L383-L386),
- the object has no signature,
- there is a signature for which no key is found in the passed key dictionary, which means that
  multiple sign

[2017-10-16 22:18] lukpueh opened #136 "Revisit threshold verification"
Verifying step thresholds, i.e. enforcing a specified  amount of functionaries, to each provide a link file corresponding to a given step, happens in parts explicitly and in parts implicitly in various places throughout the final product verification, i.e. when:

1. [importing step metadata](https://github.com/in-toto/in-toto/blob/1ae56cd767e60982cb273edb77e582cc821bd7f9/in_toto/models/layout.py#L

[2017-10-17 13:59] lukpueh commented on #88
Will fix with #136 and #135.

[2017-10-17 13:59] #88 closed, assigned to nobody

[2017-10-17 16:31] lukpueh commented on #116
As a compromise we could provide a variant of `in-toto-verify` that does not fail early (as it does now) but rather tries to verbosely walk through all verification routines. What do you think, @SantiagoTorres?

[2017-10-17 17:17] lukpueh opened #137 "Provide alternatives to `settings.py`"
Changing settings in the [settings file](https://github.com/in-toto/in-toto/blob/develop/in_toto/settings.py), which usually lives in some python site-packages directory, is cumbersome.

We should provide alternative ways to configure these settings, like e.g. environment variables, rcfiles, and command line arguments (maybe all of them, in reverse order of precedence).

@SantiagoTorres  suggested

[2017-10-17 18:46] lukpueh commented on #118
Fixed with #125

[2017-10-17 18:46] #118 closed, assigned to nobody

[2017-10-18 17:21] lukpueh commented on #11
The current version of the specification does not mention `stderr` anymore, instead it lists [`stdin` as common byproduct](https://github.com/in-toto/docs/blame/69c29b41f4c1fe064b5d77d61d4b268fc171bcaa/in-toto-spec.md#L912-L917).

When fixing this issue, let's also investigate how to redirect standard input.

[2017-10-19 19:47] #131 closed, assigned to nobody

[2017-10-19 20:07] #133 closed, assigned to nobody

[2017-10-19 20:46] #132 closed, assigned to nobody

[2017-10-24 20:38] lukpueh commented on #98
Since I just re-fixed this issue, I wanted to document the following thought:

Given the two fairly big PRs (#120, #142) related to this issue, one might argue that it would have been a lot easier to just leave the original `is-a` relationship from the implementation and only modify the serialization and de-serialization methods to adhere to the `has-a` relationship from the specification.

Howeve

[2017-11-06 22:23] lukpueh opened #144 "Uniform JSON string format"
https://github.com/in-toto/in-toto/blob/e2f3f8b64c71e1cbe581051154c58cb949a6d579/in_toto/models/metadata.py#L48-L59

See related comment https://github.com/in-toto/in-toto/pull/142#discussion_r146687332:

[2017-11-07 17:10] lukpueh opened #145 "Revisit imports"
In  https://github.com/in-toto/in-toto/pull/142#discussion_r148342777 @awwad points out that we should be more careful in the way we import modules or parts of modules:

It doesn't necessarily mean you shouldn't do this, but it's worth keeping in mind. (I've been burned by this.)

His suggestion also aligns with the [code guidelines](https://github.com/secure-systems-lab/code-style-guidelines#impo

[2017-11-08 14:42] #137 closed, assigned to nobody

[2017-11-10 17:07] trishankatdatadog commented on #79
Right now, to the best of my understanding, it is unclear how to distribute the top-level keys used to sign the root in-toto layout.

IMO, it's best to use TUF (with offline keys, of course) to do the job. The biggest reason to do this is as follows: in-toto needs to be able to support updating root in-toto layouts, because the security model may be upgraded iteratively. I haven't fully thought th

[2017-11-15 15:58] lukpueh opened #152 "Revisit artifact rule path patterns"
**Description of issue:**:
Rethink the behavior of artifact rule path pattern filtering, especially if no artifacts are filtered by the pattern.

**Current behavior**:
All artifact rules take a `pattern` argument that is used to filter artifacts reported by a link.
If the pattern does not filter any artifacts the rules as practically not applied.

This issue was already pointed out in the discussi

[2017-12-04 19:18] #144 closed, assigned to nobody

[2017-12-05 19:04] lukpueh commented on #79
Here's a summary of the possibilities for shipping out in-toto metadata, we discussed last week:

1. Package layout and link metadata with the final product.
2. Provide a mapping file as part of the final product that lists URLs to fetch layout and link metadata from an external source.
3. Use TUF, in particular the `custom` field in TUF target metadata (c.f [4.5 File formats: targets.json and del

[2017-12-08 16:41] lukpueh opened #159 "Revisit command line tool descriptions in README.md"
Please fill in the fields below to submit an issue or feature request.  The
more information that is provided, the better.

**Description of issue or feature request**:
@vladimir-v-diaz mentioned several issues with the README's command line tool descriptions in his gpg support PR review (#150). We should address his comments in a separate PR.

**Current behavior**/**Expected behavior**:
From Vlad

[2018-01-05 15:36] lukpueh commented on #117
Related issue:
The current default verbosity also inundates the unit test output (c.f. @vladimir-v-diaz's [comment](https://github.com/in-toto/in-toto/pull/163#issuecomment-355582253) on an unrelated PR). We should reduce it to a meaningful minimum.

[2018-01-10 19:19] lukpueh commented on #126
While we are at it, we should also fix generic `catch Exception` statements, c.f. @SantiagoTorres's comment in https://github.com/in-toto/in-toto/pull/167#discussion_r160724178.

[2018-01-10 22:20] lukpueh commented on #117
Related issue:
It would be good to review existing log statements for their appropriateness in content, type (info/warning/debug) and location (c.f. https://github.com/in-toto/in-toto/pull/167#discussion_r160725540).

[2018-01-11 17:04] lukpueh commented on #126
Related: Redact GPG errors https://github.com/in-toto/in-toto/pull/168#discussion_r161009073

[2018-01-16 17:51] #23 closed

[2018-01-17 17:31] lukpueh opened #171 "Tox test build failing (can't reproduce, maybe related to GPG)"
**Description of issue or feature request**:
I keep getting build errors for different tox jobs, locally and on Travis CI. But when I re-run tox (locally) or restart the Travis build (via web UI) the builds pass.

Here's parts of a local tox build for commit 7016b95 (PR #170) , where py3.6 failed:

[code]

I tried the following things, none of which could reproduce the problem:

- Run tox with `-r

[2018-01-18 17:20] lukpueh commented on #171
Probably related:
https://travis-ci.org/in-toto/in-toto/jobs/330453422

[code]

[2018-01-19 17:32] #135 closed, assigned to nobody

[2018-01-19 18:59] lukpueh commented on #136
Fixed with #170

[2018-01-19 19:00] #136 closed, assigned to nobody

[2018-02-06 21:52] #117 closed, assigned to nobody

[2018-02-08 15:48] lukpueh opened #185 "Add format schemas for artifact rules"
**Description of feature request**:
Add format schemas for artifact rules.

**Current behavior**:
Artifact rule formats are currently validated when unpacked in the `in_toto/rulelib.py` module.

**Expected behavior**:
It would be nice to have dedicated format schemas, defined in `in_toto/formats.py` using `securesystemslib`s schema module.

[2018-02-08 16:06] lukpueh opened #186 "Require fully conformant metadata when loading"
**Description of issue or feature request**:
Check that metadata (`Metablock`, `Layout`, `Step`, `Inspection`, `Link`) loaded from Python dicts (json files) is fully conformant.

Thanks to @awwad for pointing out the issue in https://github.com/in-toto/in-toto/pull/179#pullrequestreview-94858221

**Current behavior**:
Currently in-toto metadata classes are validated after instantiation, i.e. after

[2018-02-08 16:23] #16 closed

[2018-02-08 16:29] lukpueh commented on #186
Related:
Mention metadata conformance with specification (plus version number) in docstrings (see https://github.com/in-toto/in-toto/pull/181#discussion_r166678328)

[2018-03-02 19:54] #130 closed, assigned to nobody

[2018-03-02 20:56] lukpueh opened #193 "Support require artifact rule"
**Description of issue or feature request**:
As per the [specification](https://github.com/in-toto/docs/blame/master/in-toto-spec.md#L760) the require rule format is  `REQUIRE <pattern>` and *indicates that a pattern must appear as a material or product of this step.*

Before implementing this, we might clarify how to treat wildcards in a pattern (also see #152).

Here are some examples with sugge

[2018-03-02 22:30] lukpueh opened #194 "Support path left strip when recording artifacts"
**Description of issue or feature request**:
Add support for left stripping artifact paths before storing them to link metadata. This could give more flexibility to functionaries and simplify writing artifact rules.

**Current behavior**:
Artifacts are recorded as full paths or relative to the current working directory from where `in-toto-run` or `in-toto-record` is executed (see [`--materials`/`-

[2018-03-30 19:59] SantiagoTorres opened #202 "PGP subkeys count towards threshold"
**Description of issue**:
After @vladimir-v-diaz 's review of [PR](https://github.com/in-toto/in-toto/pull/201#discussion_r174275398) #201, it was found that the threshold check with pgp keys can be bypassed by signing different pieces of link metadata with different subkeys.

**Current behavior**: A malicious functionary is able to bypass threshold verification by signing multiple pieces of link

[2018-05-21 19:20] yashsriv commented on #202
Hi,

I'm working on this issue. I'll also add a test for this which should fail for current code and pass after my changes.

[2018-05-23 19:57] vladimir-v-diaz commented on #171
@lukpueh @SantiagoTorres

Is it possible that the subprocess call to GPG is not completing successfully in certain cases, and is returning empty data?  For instance:
https://github.com/in-toto/in-toto/blob/ae8ddcdf8850ed47eb68f7d245122787b6b58ebd/in_toto/gpg/functions.py#L230-L236

`Popen.communicate()` returns a (stdoutdata, stderrdata) tuple, but the code doesn't really check for GPG errors nor

[2018-05-24 15:08] vladimir-v-diaz commented on #171
@SantiagoTorres @lukpueh

I was able to trigger the following exception on my local machine:
[code]

The affected lines are in `in_toto/gpg/common.py`, meaning that lines 195-196 were not executed by coverage.

coverage output:
[code]

https://github.com/in-toto/in-toto/blob/ae8ddcdf8850ed47eb68f7d245122787b6b58ebd/in_toto/gpg/common.py#L192-L196

[2018-05-24 19:24] SantiagoTorres commented on #171
I'm unsure on how to move forward with this. One option would be to move to `gpgme` (which was a long-term goal), but I don't know if that'll fix it. Do you have anything in mind?

[2018-07-18 16:25] trishankatdatadog opened #210 "Should the in-toto CLI be more aware of its git context?"
**Description of issue or feature request**:

The in-toto CLI tools should be more aware of the context of the git repositories they record.

**Current behavior**:

Presently, when `in-toto-run` is run in a git repo, it ignores all hidden git files, and thus prevents them from being recorded as materials or products. However, it records all other files in the git repo, even if they have not been a

[2018-09-12 18:28] trishankatdatadog opened #212 "CLI should honor .gitignore by default"
**Description of issue or feature request**:

CLI tools like `in-toto-run` should honor `.gitignore`, and not record files matching these patterns as materials.

**Current behavior**:

CLI tools do not honor `.gitignore` by default.

**Expected behavior**:

CLI tools honor `.gitignore` by default (unless overridden by the user).

[2018-09-18 15:14] trishankatdatadog opened #219 "subprocess.check_output()"
**Description of issue or feature request**:

We should use [subprocess.checkoutput()](https://docs.python.org/3/library/subprocess.html#subprocess.check_output) by default. Using `subprocessPopen()` without checking return codes sometimes leads to misleading errors (such as apparently malformed GPG signature packets, when actually GPG did not run as intended, and return the expected output).

Thi

[2018-09-18 15:21] trishankatdatadog opened #220 "Automatic package releases of commits to master"
**Description of issue or feature request**:

It would be nice to have a _separate_ package on PyPI called `in-toto-dev` that is basically automatic packages of commits to master. These packages may be built by Travis and / or AppVeyor, and should be tagged as [developmental releases](https://www.python.org/dev/peps/pep-0440/#developmental-releases), so that they are difficult to install by accide

[2018-09-18 20:09] ofek opened #222 "Update docs/comments for exclude patterns"
To reflect https://github.com/in-toto/in-toto/pull/217

[2018-09-20 19:06] JustinCappos commented on #220
I think this is a good idea.  Perhaps not the highest priority, but
definitely good to have.

On Tue, Sep 18, 2018 at 11:23 AM Trishank K Kuppusamy <
notifications@github.com> wrote:

[2018-09-20 19:09] trishankatdatadog commented on #220
Yeah, so we can stop bothering poor @SantiagoTorres :)

[2018-09-24 03:44] trishankatdatadog commented on #219
I have a PR for this I'll send when I figure out why git inside my Fedora VM breaks when SSHing over NAT but not bridge...

[2018-09-26 03:10] trishankatdatadog opened #228 "Better error messages during verification of rules"
**Description of issue or feature request**:

Presently, it takes a bit of detective work to understand exactly why artifacts failed to match given rules.

For example, supposing an artifact matched a filename pattern, but was supposed to MATCH a product or material from some other step, and was instead observed to be MODIFIED, then this is not clear at all, and requires manual inspection by the u

[2018-10-10 01:18] michizhou commented on #159
@lukpueh @alyptik If it's alright with you guys, I would be happy to take up this issue. I would really appreciate it if you guys could provide some supporting docs and reference materials so that I could get started with addressing the comments raised by @vladimir-v-diaz's review in #150. I will open a new PR to address some of the concerns in this issue for review.

[2018-10-10 02:27] alyptik commented on #159
@michizhou Great :) It's a tad sparse, but you can find examples and other supporting documentation on the website at [in-toto.github.io](https://in-toto.github.io/metadata-examples.html) or in the [in-toto/docs](https://github.com/in-toto/docs/tree/master/examples) repository. As I suggested in another comment, a possible rewording for #150 would be "executes the **specified** command..." which I

[2018-10-10 08:45] lukpueh commented on #159
@michizhou, yes, great, please go ahead. The best resource is probably the code itself, which should be highly readable and well commented. Please take a look at the [command line tools](https://github.com/in-toto/in-toto/tree/develop/in_toto), they are all named `in_toto_*.py` and the libraries they are calling, that's mostly [`runlib.py`](https://github.com/in-toto/in-toto/blob/develop/in_toto/r

[2018-10-11 22:37] michizhou commented on #159
@lukpueh Just wanted to let you know that I have updated the README in a way that should address this issue (see PR #234). If there are no other changes that need to be made, I say we close this.

[2018-10-15 08:31] lukpueh commented on #159
Thanks @michizhou! I suggest you create a new issue just for the parts that you didn't address in your PR #234, that is command hierarchy (`in-toto <subcommand>`) and we close this one. :)

[2018-10-15 19:07] #219 closed, assigned to nobody

[2018-10-15 19:08] trishankatdatadog commented on #220
Only problem with this plan is that I don't think Python packages work the way suggested above. That is, installing `in-toto-dev` probably wouldn't overwrite `in-toto`, but I'm not sure.

[2018-10-15 19:10] trishankatdatadog commented on #210
@lukpueh is working on a related feature to read `gitattributes` and normalize line endings if set in `git`.

I think we should also read `.gitignore` and add these files by default to the list of artifacts to ignore.

[2018-10-15 19:23] trishankatdatadog opened #236 "in-toto should check gpg key expiration"
**Description of issue or feature request** / **Current behavior**:

Presently, `in-toto` does not appear to check whether a GPG signature should be considered valid if the key has expired.

**Expected behavior**:

`in-toto` should reject a GPG signature if the key has expired.

[2018-10-26 18:49] michizhou opened #239 "Rethink command hierarchy and add usage examples"
Please fill in the fields below to submit an issue or feature request.  The
more information that is provided, the better.

**Description of issue or feature request**:
Most of the issues mentioned by @vladimir-v-diaz that concerned the README's command line tool descriptions in his gpg support review (#150) have been resolved (#234). However, the rethinking of the command hierarchy and the inclus

[2018-10-26 19:52] michizhou commented on #159
Not a problem @lukpueh! I just managed to create a new issue (#239) that addresses the concerns about the command hierarchy and addition of more command usage examples. Feel free to start a new discussion over there and finally close this issue. :)

[2018-11-04 04:43] michizhou commented on #228
@trishankatdatadog I would be more than happy to take on this issue. I just need a bit more context in terms of which file (with full repo filepath) generates the error messages and any supporting advice or documentation that could help me make the messages more specific. Please let me know. Thanks!

[2018-11-04 04:45] michizhou commented on #236
@trishankatdatadog I think I can tackle this issue. I will need more context about which file I should include the GPG signature check(s) and any supporting advice or documentation. Thanks!

[2018-11-04 04:51] michizhou commented on #222
@ofek If it's alright with you, I would be happy to finally resolve this issue if it hasn't been taken care of already. I just need to know which documentation files and comments I should update to reflect the exclude patterns addressed in #217. I would greatly appreciate it. Thanks!

[2018-11-04 21:53] ofek commented on #222
@michizhou https://github.com/in-toto/in-toto/blob/ac225cd918ce381512f7dfa71cb05b66263f969c/in_toto/runlib.py#L99-L122 maybe more

[2018-11-05 09:14] lukpueh commented on #222
IIRC, this is the only place, where we describe exclude patterns in detail, but it doesn't hurt to do a quick grep over the codebase when fixing this issue.

We do have a pointer to above docstring in our [README.md (Available settings)](https://github.com/in-toto/in-toto/#available-settings). Please update accordingly.

[2018-11-05 09:45] lukpueh commented on #236
@michizhou You can find functions for public key extraction (from gpg keyrings) and signature verification in the subpackage [in-toto/gpg](https://github.com/in-toto/in-toto/tree/develop/in_toto/gpg).

*Considerations about false positives*
As you will see, we don't necessarily use gpg and gpg keyrings at the time of signature verification. Instead we extract public keys from a gpg keychain and co

[2018-11-05 10:13] lukpueh commented on #228
Artifact rules are processed in [in-toto/verifylib.py](https://github.com/in-toto/in-toto/blob/develop/in_toto/verifylib.py) (see `verify_item_rules` and `verify_*_rule` functions). Please also take a look #238 and in-toto/docs#11, which should give you a good overview of the current way artifact rules are processed.

[2018-11-05 23:32] michizhou commented on #222
@ofek Should I just remove the ["How it differs from .gitignore"](https://github.com/in-toto/in-toto/blob/ac225cd918ce381512f7dfa71cb05b66263f969c/in_toto/runlib.py#L114-L119) part of the docstring then? Or should I also update other parts of the docstring dealing with exclude patterns?

[2018-11-06 13:23] lukpueh commented on #222
@michizhou Please read the code and adopt the docstring accordingly.

[2018-11-08 08:33] michizhou commented on #222
@lukpueh @ofek Just wanted to let you know that I just created a new PR that should address this issue. Please feel free to take a look over it and let me know if any changes need to be made. Thanks!

[2018-11-08 08:39] michizhou commented on #228
@lukpueh @trishankatdatadog Just as a heads up, I just made a new PR that should at least partially resolve this issue. I also noticed that changing the `verify_delete_rule` function implementation (which is in alignment with the `FIXME` goals of in-toto/in-toto#204) is causing issues in `test_verifylib.py` since some of the tests in that file rely on RuleVerificationError exceptions being raised

[2018-11-08 10:04] michizhou commented on #236
@lukpueh I appreciate the context and background, but I am still not quite sure where to start. I would appreciate it if you could give me guidance on how to get the data for the `expiration_date` field and in which file to assign it, as well as how and in which file to implement the rest of your suggested steps.

[2018-11-08 10:16] lukpueh commented on #236
Sure, here's above list with some pointers:

- add an `expiration_date` field to the gpg public key data structure,
  -> https://github.com/in-toto/in-toto/blob/develop/in_toto/gpg/formats.py#L93
  -> https://github.com/in-toto/in-toto/blob/develop/in_toto/gpg/formats.py#L120
- assign it when parsing the public key data on a public key export (see RFC4880),
  -> https://github.com/in-toto/in-toto/

[2018-11-10 01:27] michizhou commented on #228
@lukpueh My apologies for not getting back to you earlier, but I have recently addressed your most recent concerns on my prior PR (#242) though a new PR (#243) I created. Please look it over and let me know if you need me to make any further changes. Thanks!

[2018-11-10 23:38] michizhou commented on #236
@lukpueh So I have read the RFC, and it seems like we might have to revise our approach to this issue. For version 4 (which is the version we are using for the public key data), the expiration time (time after creation for which key is valid) is no longer stored in the public key packet but instead has been moved to the signature packet of the corresponding key (see Section 5.5.2 of RFC4880). With

[2018-11-12 10:36] lukpueh commented on #236
@michizhou, thanks for reading up on the RFC. I suggest then that you:
- parse expiration times, at the time of creating a signature, and add it to the signature data structure then (you have to update the signature format instead of the key format in that case). Maybe it's worth to add both key expiration and signature expiration,
- issue a warning at the time of signing,
- maybe also issue a war

[2018-11-15 16:43] lukpueh commented on #171
Hooray, [this is the first travis log](https://travis-ci.org/in-toto/in-toto/jobs/455583004) that actually gives us some context (courtesy of #240) on these obscure failures. Unfortunately, it's still not obvious why the signature verification fails.

[2018-11-16 11:14] lukpueh commented on #171
I investigated the [failing travis build](https://travis-ci.org/in-toto/in-toto/jobs/455583004) a little further by manually parsing the relevant [signature](https://travis-ci.org/in-toto/in-toto/jobs/455583004#L1079) and [key](https://travis-ci.org/in-toto/in-toto/jobs/455583004#L1082) bytes, added to the log through the `log.debug` statements in [`gpg_sign_object`](https://github.com/in-toto/in-

[2018-11-16 12:59] alyptik commented on #171
@lukpueh @vladimir-v-diaz @SantiagoTorres

Dang, you guys always happen upon the weirdest parts of gnupg:

**Subpacket 33 (Issuer Fingerprint)** from [[1]](https://lists.gnupg.org/pipermail/gnupg-users/2018-January/059881.html):

And here it is in the source [[2]](https://git.gnupg.org/cgi-bin/gitweb.cgi?p=gnupg.git;a=blob;f=common/openpgpdefs.h;hb=0a641ad25d8c3b91dc32bb9f3f1ae49ae539a4f7#l118).

[2018-11-16 14:13] lukpueh commented on #171
Yes, you're absolutely right. The different versions definitely account for the different lengths of the raw bytes (because of the missing subpackt 33 in older versions). I do wonder why the actual signature data, which does not include the subpackets, is also 2 bytes shorter. But maybe there was also a change between versions.

At any rate, I don't think that the missing subpacket 33 is the reaso

[2018-11-16 16:26] SantiagoTorres commented on #171
yeah, I do see the error log mentioning that subpacket 33 is missing. That in and by itself should be enough to be worried of using the wrong underlying gpg library. I wonder if somehow this is using <2.1 sometimes...

[2018-11-16 16:27] SantiagoTorres commented on #171
On a related note, lukpueh. I'll dig into the signature itself and try to figure out what's exactly the discrepancy, I suspect it's just padding in PKCS1.5

[2018-11-16 17:44] alyptik commented on #171
Well, from experience Travis is known to have some pretty ancient defaults, heh

[2018-11-16 17:45] alyptik commented on #171
@lukpueh Ah, I see. Yeah, that missing 2 bytes is very strange.

[2018-11-16 22:30] SantiagoTorres commented on #171
From reviewing this, actually the math makes sense perfectly for the signature packet:

[code]

This is 286 bytes, plus 24 bytes from the missing subpacket 33 (the subpacket 33 would be `33` `04` `21` `[21 bytes of data]`. It all ends up accounting for 310 bytes total.

I tried this, I ended up settling for mocking our signing method:
[code]

This will trigger our replacement method, which does ac

[2018-11-19 10:03] lukpueh commented on #171
Thanks, @SantiagoTorres for digging into this. I do think we are on to something. I updated your awesome script to see if signature length and verification failure are related. It seems that they are:

[code]

We see that signatures that fail are two bytes shorter, than signatures that pass.

[2018-11-19 11:27] lukpueh commented on #171
I wrote another test script to investigate failing/passing signatures and signature data length outside of our Python gpg interface. It repeatedly creates detached signatures for some test data, then verifies each signature and prints the (unique) results, i.e. pass or fail together with the signature data length.
I did one run with 10000 iterations and the signature verification never failed. How

[2018-11-19 11:31] lukpueh commented on #171
Btw. I doubt that it has something to do with the gpg version and the presence or absence of subpacket 33, as above Python test snippet had a similar pass/fail ratio on a system with old gpg and a system with new gpg.

I really think it has something to do with gpg returning an incomplete signature (i.e. where signature data length <= 2040 bits). I wonder why this only seems to happen when we run

[2018-11-19 13:12] aaaaalbert commented on #171
I'm manually replaying @lukpueh's bash script and can report that the signature *timestamp* does not seem to play a role. A few iterations of `gpg2 --detach-sign --digest-algo SHA256 --faked-system-time 1542632964` (i.e. the signing time held constant) still yield different `data` lengths.

[2018-11-19 13:38] lukpueh commented on #171
I also ran the results from the bash script (removing `uniq`) through R to see the [frequencies](https://github.com/in-toto/in-toto/files/2595469/points.pdf) of the different signature bit lengths and also if there are interesting [patterns over time](https://github.com/in-toto/in-toto/files/2595470/hist.pdf)... But it doesn't really make sense.

[2018-11-19 15:12] lukpueh commented on #171
I think I am getting closer...
I went back to the failing signature from the travis build log, and realized that it only fails when verifying with in-toto, which does not use gpg for verification but `pyca/cryptography`. So either our signatur parser, which prepares the gpg sig for `pyca/cryptogrpahy`  or `pyca/cryptography` itself  can't handle corner cases, i.e. slightly shorter signatures.

Her

[2018-11-19 20:58] SantiagoTorres commented on #171
I think I found a fix to this issue. I have a trove of reasons this makes sense but what led me to try this out was the following:

- It appears the bug is triggered with a probability of 1/256, e.g., see a couple of runs of the script above:

[code]
Other runs yielded: `0.49500000000000005` and `0.47400000000000003`

- It only happens with signatures that are 8 bits shorter than the length of the

[2018-11-19 21:37] SantiagoTorres commented on #171
@lukpueh @alyptik @aaaaalbert Please take a look :+1:

[2018-11-20 19:11] #171 closed, assigned to nobody

[2018-11-21 03:49] michizhou commented on #236
@lukpueh I have just finished with my implementation of your suggested changes for key verification using expiration dates. Please let me know if you need me to make any additional changes. Thanks!

[2018-11-23 10:36] michizhou commented on #228
@lukpueh I just pushed some recent changes that should give more useful contextual information for the tracebacks on rule processing in the verification error messages. Please let me know if there are any additional changes I would need to make in your review. Thanks!

[2018-11-30 09:04] #222 closed, assigned to nobody

[2018-12-17 11:47] lukpueh opened #247 "Verify target files of final product without inspection"
**Description of issue or feature request**:
Target files of the final product, i.e. the files whose supply chain is being verified, require a final link in order to associate the actual files on the client with the artifacts from earlier steps in the supply chain.
Currently, it needs an inspection in order to generate that link. However, inspections seem unsuited for such a crucial task, a.o. for

[2018-12-17 15:17] JustinCappos commented on #247
What if the inspections take multiple steps and do different things?  For example, imagine an encrypted, compressed package.  If the client must decrypt it first, then unpack, how is this specified?

In my mental map, inspections create link metadata (just like steps), the difference being they are not signed.

[2018-12-17 15:33] lukpueh commented on #247
Yes indeed, inspections do create link metadata, that is for a command they execute at verification time (before and after execution, just like steps).

IMO associating whatever came out of the supply chain, as per step link metadata, with whatever the client is trying to install (it may come encrypted/compressed/...), is so important that it should not require the execution of an external command

[2018-12-17 15:55] lukpueh commented on #247
To be more specific:

In case the target files of the final product are encrypted/compressed, I would expect the last step of the supply chain, e.g. a "package" step, to list the encrypted/compressed target files as products.

On the client side I would then like to make sure that the encrypted/compressed target files I am about to install have the same hash as the products of the last step, witho

[2019-01-05 18:34] JustinCappos commented on #247
So let me be concrete here with the example.  Suppose there is a pipeline as follows:

Step 1: take git tagged repo, bundle it into a tarball
Step 2: take the tarball, encrypt with a key to get the "final product" (which is what the client is sent)
Inspection 1: decrypt the "final product" to get the tarball
Inspection 2: unpack the tarball to get the files from the git tagged repo

Does this matc

[2019-01-07 11:19] lukpueh commented on #247
@Justin, all of what you say above makes perfect sense, and what I propose wouldn't change in-toto's behavior in that regard. I just suggest that we need a *built-in* mechanism (as opposed to *external* inspections) that can link the final product obtained by the client to that same final product that came out of the supply chain.

Suppose there is a supply chain, where the final product is simply

[2019-01-07 19:09] SantiagoTorres commented on #247
I had a discussion with @JustinCappos earlier today regarding this. Overall the bottomline that I see is:

- It appears that this issue is just when there are no inspections. Although this may be not the regular case, it still does seem to be something we need to address.
 - Further,  we don't have a "null" inspection, and as such things are a little weird when trying to create a NOOP step to veri

[2019-01-08 16:47] SantiagoTorres commented on #247
So, say that instead of calling it a noop we called it something a little more metaphoric, like "review-bill-of-materials" or "ensure-artifacts-in-delivered-product". Wouldn't that suffice?

I agree with this overall.

Looking at this from this angle then it would just mean that we hardcode *another* field in the layout that's basically a noop inspection (modulo empty products and run_command).

Y

[2019-01-08 17:11] lukpueh commented on #247
Sure, we could have a special built-in "final product" inspection, which does not have a run command and does not record products, and maybe we could even provide a parameter to the verifier, in order to specify which materials to record when running the "final product" inspection. We would end up with something very similar to what I'm proposing without *necessarily* breaking backwards compatibil

[2019-01-08 17:52] lukpueh commented on #247
Good question, we don't have a lot of experience there yet. As per the [specs](https://github.com/in-toto/docs/blob/master/in-toto-spec.md#453-inspections-on-sublayouts), inspections on sub-layouts either have to provide a corresponding link to the super-layout verifier, or the super-layout verifier runs them again.

Consider the following example:

Super-Step-1: Delegates to sub-layout (with one

[2019-01-08 17:58] SantiagoTorres commented on #247
Not only this, but it's easier to be explicit about what products are exported in the link that's floated upwards...

[2019-01-09 14:14] lukpueh commented on #247
What would be easier to be explicit?

[2019-01-10 17:58] adityasaky opened #249 "Add a helper function to consistently canonicalize file paths instead of handling them individually in each instance"
**Description of issue or feature request**: Presently, various different commands spanning several packages are used to canonize a file path depending on context. There are also situations where some operations cannot be performed using standard techniques due to certain edge cases and assumptions.

**Expected behavior**: A helper function to canonize file paths so that no code  must have to deal

[2019-01-11 11:40] lukpueh commented on #249
Great initiative, @adityasaky!  Can you specify what commands and edge cases you are referring to? I assume you are talking about path normalization in `runlib.record_artifacts_as_dict`?

As far as I can see we use Python's [`os.path.normpath`](https://docs.python.org/3.7/library/os.path.html#os.path.normpath) and we replace Windows-style backward slash file separators with Unix-style forward slas

[2019-01-11 17:19] adityasaky commented on #194
I just wanted to put it out there that I'm working on this issue right now.

[2019-01-11 18:37] adityasaky commented on #249
Yes, that's where this discussion started. I was talking to @SantiagoTorres about why the project hasn't used `os.path.normcase` instead of replacing `\\` with `/` manually. After all, `os.path.normpath` has been used elsewhere. He explained that there were a few edge cases where the `replace` was a better option. Specifically:
- "the homedir param on the gpg executable respects '/' regardless of

[2019-01-14 11:59] lukpueh commented on #249
I don't really understand why you would want to use `normcase`. As the name suggests it normalizes the case in a path (to lower), which we don't require nor desire.
Furthermore, `normcase` converts `/` to `\\` on windows, which we do want before walking the directories, and which we achieve by using `normpath`, but which is the opposite of what we want when storing the paths, where we use `replace

[2019-01-14 21:28] adityasaky commented on #249
Currently, the implementation is the 3rd option. I can switch it to the 2nd. However, rather than unexpected behaviour, won't the `lstrip` just silently fail if it's in unix-style and artifact paths provided are in windows-style?

Separately, we should also discuss about adding a `/` at the end of the prefix if it's not already there. I imagine the prefix will always refer to a directory (some anc

[2019-01-14 21:30] SantiagoTorres commented on #249
To add more context to this, `\` can be both a valid character in an ext4 path *and* a path separator on windows.

[2019-01-14 21:30] adityasaky commented on #194
Continuing from the related discussion at #249:

We should discuss about adding a `/` at the end of the prefix if it's not already there. I imagine the prefix will always refer to a directory (some ancestor typically). If `/` isn't provided as part of the prefix, the key in the dictionary may then end up beginning as `/foo` instead of just `foo`.

Also, if we choose to add a `/`, that can cause a

[2019-01-15 15:59] lukpueh commented on #249
@SantiagoTorres, you are right and this is something we should fix.  The current `replace` calls in https://github.com/in-toto/in-toto/blob/v0.2.3/in_toto/runlib.py blindly replace any backslash in a path.

@adityasaky, when your are working on this issue, can you make sure that we only replace backslashes if `os.path.sep` is one?

[2019-01-15 16:13] lukpueh commented on #194
@adityasaky, I am not so sure about this. Maybe there are cases where the caller wants to end up with `/foo`. I think not adding a trailing prefix would make this option more flexible. You can add a comment  in the code that a trailing separator might be something to consider.

[2019-01-15 17:15] adityasaky commented on #194
Okay, sounds good.

[2019-01-15 18:49] adityasaky commented on #194
Currently, I've added support for `--lstrip-paths` with a single prefix. What should be the expected behaviour when a user provides multiple prefixes? Handling them iteratively doesn't seem like a good idea, and the other option is to apply every prefix to every path and left strip the longest matching prefix. Is there another option? @SantiagoTorres do you have any thoughts on this?

[2019-01-15 19:29] adityasaky commented on #249
Sure. Either way, we need to confirm what the separator is in Windows. The docs say `\\` but a quick print here on a Windows system gave me `\`. We should explore if `os.name` or `sys.platform` are better bets.

[2019-01-16 09:40] lukpueh commented on #249
That's because print only shows the literal backslash (2nd) and not the escape character (1st). You can try the following on your windows machine:
[code]
I wouldn't use `os.name` or `sys.platform`.

[2019-01-16 11:17] lukpueh commented on #194
I vote for stripping the longest matching prefix and documenting it in the code in and command line help message.

[2019-01-16 15:16] adityasaky commented on #249
Okay, noted. Thank you!

[2019-01-18 17:24] SantiagoTorres commented on #194
I discussed with @adityasaky yesterday that probably the longest-path prefix may be an issue when multiple prefixes are defined. Take the following example:

[code]

With `--lprefix foo/bar` and `--lprefix foo`.

This would essentially yield two files `baz` recorded as having the same path. Needless to say, they may be have different hashes. I'm also unsure as to how the client would handle repeat

[2019-01-18 18:20] trishankatdatadog commented on #202
Hi guys, any news on this?

[2019-01-18 18:54] adityasaky commented on #202
Hi, I'm going to take a stab at this and see if I can help.

[2019-01-19 00:34] adityasaky commented on #194
As we discussed (today), even that doesn't necessarily solve the problem when two files have the same name and both their paths are left stripped (when one isn't the sub-string of the other). We should check if a key is already in the dict when recording it.

[2019-01-21 12:32] lukpueh commented on #202
I'll submit a PR later today.

[2019-01-21 16:22] lukpueh commented on #194
Since the problem is duplicate keys in the artifact dictionary and not the way how they got there, let's check for those (and fail with a custom exception) instead of restricting the prefixes.

If we find other good reasons for not supporting prefixes that are left-handed substrings of other prefixes, we can of course bar them. Until then, I suggest we proceed with the longest matching prefix plan

[2019-01-21 17:39] SantiagoTorres commented on #194
On Mon, Jan 21, 2019 at 04:23:00PM +0000, lukpueh wrote:

Why? I still haven't seen a good reason for this, and it feels like it
potentially breaks the principle of least surprise.

[2019-01-21 18:52] lukpueh commented on #194
Alright then let's not support them. I'm fine either way.

[2019-01-23 16:30] #202 closed, assigned to nobody

[2019-01-24 15:53] lukpueh commented on #194
Fixed with #250

[2019-01-24 18:27] adityasaky commented on #194
I think this can be closed?

[2019-01-24 19:12] SantiagoTorres commented on #194
yes, thanks @adityasaky !

[2019-01-24 19:12] #194 closed, assigned to nobody

[2019-01-25 14:07] lukpueh commented on #159
Addressed with #248

[2019-01-25 14:07] #159 closed, assigned to nobody

[2019-01-25 14:58] lukpueh opened #253 "Account for and test testing corner cases such as missing commands"
**Description of issue or feature request**:
I just ran the in-toto test suite on a vanilla [windows vm](https://github.com/in-toto/windows-setup) without `gpg` installed and noticed that we mostly but don't fully follow through with special treatment, i.e. we
- execute some unix shell commands in the tests (`ls`) and
- exclude most but not all gpg tests, if `gpg` is not on the path.
- Also the ch

[2019-02-15 09:55] lukpueh opened #254 "Fix summary link naming"
**Description of issue or feature request**:
As per the [specification](https://github.com/in-toto/docs/blob/master/in-toto-spec.md#451-artifact-rules-in-sublayouts), *"when using sublayouts, the artifact rules that apply to the equivalent step [in the super-layout] are applied to the materials of the first [...] and the products of the last step of the sublayout"*.   To achieve this we [create su

[2019-02-15 17:23] adityasaky commented on #254
I'm working on a fix for this on the golang repository and can probably apply it here too.

[2019-02-20 15:13] adityasaky commented on #254
in-toto/in-toto-golang#19 fixes this issue. I'll apply a similar fix here shortly.

[2019-03-04 12:31] lukpueh opened #260 "Parametrize writing of inspection links"
**Description of issue or feature request**:
During final product verification, inspections defined in the layout are *run* in a similar manner as functionaries *run* steps of the layout, generating link metadata (see [`verifylib.run_all_inspections`](https://github.com/in-toto/in-toto/blob/v0.2.3/in_toto/verifylib.py#L160)).

The corresponding link metadata is required for inspection artifact rul

[2019-03-04 16:55] trishankatdatadog commented on #260
Good idea, but let's not have two parameters, please :)

[2019-03-06 14:13] adityasaky commented on #254
This can be closed now.

[2019-03-06 14:37] #254 closed, assigned to nobody

[2019-03-08 22:51] #11 closed

[2019-03-11 16:27] lukpueh opened #261 "Rule verification false positives"
**Description of issue or feature request**:

The firewall like processing of artifact rules in `verify_item_rules` uses a material queue, a product queue and a generic artifact queue. If one of the sequentially processed rules can be applied successfully, the corresponding artifacts in the corresponding queue are removed.

The queues are updated in different places, e.g. `verify_match_rule` modif

[2019-03-11 16:29] lukpueh commented on #261
Replacing “products” with “materials” (also in the match rule) and the `CREATE` rule with a `DELETE` rule above would result in a similar false positive. And it should be possible to craft another similar false positive example with the `MODIFY` rule, because it also relies on the materials and products queues.

[2019-03-11 17:28] trishankatdatadog commented on #261
VERY good find, Lukas!

[2019-03-11 17:28] trishankatdatadog commented on #261
Are false negatives possible? Worth taking a look...

[2019-03-12 08:38] lukpueh commented on #261
AFAICS there is no scenario where a queue is accidentally modified to have fewer artifacts than it should, and the `DISALLOW` rule seems to work, hence there should be no false negatives.

However, my re-write of the rule processing functions in #262 should make it easier to rule out false positives and false negatives.

[2019-03-15 15:45] lukpueh commented on #126
@aaaaalbert pointed out this issue in a recent `in-toto.gpg`-related CR (see https://github.com/in-toto/in-toto/pull/257#discussion_r261180946).

Since we are in the process of moving our gpg implementation to `securesystemslib`, we might want to address the issue over there (see https://github.com/secure-systems-lab/securesystemslib/pull/163).

[2019-03-15 16:08] lukpueh opened #263 "Handle GPG revocation signatures"
**Description of issue or feature request**:
#257 adds gpg self-signature verification support, for signatures types 0x10-0x13 (certifications) and 0x18 (subkey binding signature). The added infrastructure may be used to also consider other signature types such as,
- 0x20: Key revocation signature
- 0x28: Subkey revocation signature
- 0x30: Certification revocation signature

See RFC4880 [5.2.1. S

[2019-03-15 16:09] lukpueh commented on #263
Since we are in the process of moving our gpg implementation to securesystemslib, we might want to address the issue over there (see secure-systems-lab/securesystemslib#163).

[2019-03-21 17:49] adityasaky opened #264 "Handling lack of GPG in tests"
**Description of issue or feature request**:
Lack of GPG on the system causes tests to fail.

**Current behavior**:
Currently, there's a check in tests/runtests.py which checks if GPG is present on a system, and if it's not, skips certain tests using a decorator.

- There's a small error in the exception it checks for, specifically `FileNotFound` (also a typo), which may need to be replaced by `su

[2019-03-27 17:03] lukpueh commented on #261
Fixed with #262

[2019-03-27 17:03] #261 closed, assigned to nobody

[2019-03-27 17:04] lukpueh commented on #228
Fixed with #243 and #262

[2019-03-27 17:04] #228 closed, assigned to nobody

[2019-03-28 13:42] lukpueh commented on #264
Thanks for submitting the issue, @adityasaky. FYI #253 already hints at it.

Regarding your first item, you are right, `FileNotFound` doesn't exist. The exception we want to catch is called `FileNotFoundError`.
`CalledProcessError ` OTOH is raised if the command does exist but exits with non-zero.

[2019-03-28 14:53] lukpueh commented on #264
Okay, now I understand why @SantiagoTorres used a blanket exception. I seems that `WindowsError` is only available on windows and `FileNotFoundError` is only available on Python3, and on Python2 an `OSError` is raised. Luckily the latter is also a parent class of the other two. So I'm checking for `OSError` now in a tentative fix (see 23cb4d7e62233b5891e2d7c5d5b6bc07fb1d909d).

[2019-04-05 09:17] lukpueh commented on #186
Related:
#215 provides a WIP implementation

[2019-04-05 09:20] lukpueh commented on #116
See #162 for WIP implementation.

[2019-04-05 09:22] lukpueh commented on #18
See #155  for WIP implementation.

[2019-04-05 09:28] lukpueh commented on #18
Also see #161 for adding colorizing output.

[2019-04-10 15:30] lukpueh opened #270 "Add mechanism for external dependency monitoring"
**Description of issue or feature request**:

[CII silver-level best practices](https://bestpractices.coreinfrastructure.org) require projects to

- TUF uses pyup.io (see their [.pyup.yml](https://github.com/theupdateframework/tuf/blob/develop/.pyup.yml))
- @SantiagoTorres recommended to take a look at [nvchecker](https://github.com/lilydjwg/nvchecker).

**Current behavior**:
No automatic external

[2019-04-10 15:32] trishankatdatadog commented on #270
I can vouch for pyup, it's very good and easy to use

[2019-04-10 15:34] SantiagoTorres commented on #270
I'm strongly against pyup, it just litters the git history, does absolutely no checking on why the version bump is needed and makes it impossible to search for pull requests on GitHub.

[2019-04-10 15:35] trishankatdatadog commented on #270
Actually, it does give you the changelog when it's able to find it, but use whatever you guys like, I don't really care

[2019-04-10 15:41] SantiagoTorres commented on #270
Exactly, [take a look for yourself on which of these PR's were merged without manual intervention](https://github.com/theupdateframework/tuf/pulls?page=2&q=is%3Apr+is%3Aclosed). If pyup is able to notify without littering the github history or the git commit history (e.g., by squashing all pending updates) then I'm ok with that.

[2019-04-10 15:44] trishankatdatadog commented on #270
nvchecker is not automated, is it? you have to remember to do it, right?

anyway, i don't really care what you guys end using, as long as it's reliable 🤷‍♂️

[2019-04-11 07:34] lukpueh commented on #193
Fixed in #269

[2019-04-11 07:34] #193 closed, assigned to nobody

[2019-04-11 08:58] lukpueh opened #271 "Implement legal mechanism to assert authorization for contributions"
**Description of issue or feature request**:
[CII silver-level best practices](https://bestpractices.coreinfrastructure.org) encourages projects to

Furthermore [CII](https://bestpractices.coreinfrastructure.org) recommends DCO

TUF also uses a DCO (see their [GVOERNANCE.md](https://github.com/theupdateframework/tuf/blob/develop/docs/GVOERNANCE.md) and [CONTRIBUTORS.rst](https://github.com/theupda

[2019-04-11 09:25] lukpueh opened #272 "Gather infos to show how in-toto follows secure design principles"
**Description of issue or feature request**:
[CII silver-level best practices](https://bestpractices.coreinfrastructure.org) requires projects

[["known_secure_design"]](https://github.com/coreinfrastructure/best-practices-badge/blob/master/doc/criteria.md#know_secure_design)

**Current behavior**:
Required information missing.

**Expected behavior**:
Gather anecdotal evidence (descriptions, links

[2019-04-11 09:37] lukpueh opened #273 "Provide an assurance case for in-toto's security"
**Description of issue or feature request**:
[CII silver-level best practices](https://bestpractices.coreinfrastructure.org) requires projects to provide

See paragraph 3 in [coreinfrastructure.../other.md](https://github.com/coreinfrastructure/best-practices-badge/blob/master/doc/other.md#documentation) for details.

The TUF project references its [Publications](https://theupdateframework.github.

[2019-04-11 14:23] lukpueh opened #275 "Transfer in-toto.gpg to securesystemslib"
**Description of issue or feature request**:

As per our [organizational roadmap](https://github.com/in-toto/docs/blob/master/ROADMAP.md#gpg-support):

This issue only concerns the transfer of [`in-toto.gpg`](https://github.com/in-toto/in-toto/tree/develop/in_toto/gpg) (including tests and test data) to [secure-systems-lab/securesystemslib](https://github.com/secure-systems-lab/securesystemslib) (

[2019-04-11 15:57] lukpueh opened #276 "Automate documentation"
**Description of issue or feature request**:

As per our [roadmap](https://github.com/in-toto/in-toto/blob/develop/ROADMAP.md#documentation):

Related things to consider (not necessarily all in the same PR):
- we have custom style [guidelines for doc headers and docstrings](https://github.com/secure-systems-lab/code-style-guidelines#documentation-strings) that may not be compatible with [`sphinx`]

[2019-04-12 08:36] lukpueh opened #277 "Define stable API"
**Description of issue or feature request**:

As per our [roadmap](https://github.com/in-toto/in-toto/blob/develop/ROADMAP.md#stable-api), the

This is issue page is meant for discussion and should primarily entail updates in the documentation (see related #276) to clearly define a stable API and CLI for a 1.0.0 release. It should also assess whether and what changes to the implementation are requ

[2019-04-12 09:06] lukpueh opened #278 "Verify in-toto's supply chain with in-toto"
**Description of issue or feature request**:

As per our [roadmap](https://github.com/in-toto/in-toto/blob/develop/ROADMAP.md#thorough-documentation-of-release-process-with-in-toto-metadata) we

**Current behavior**:
No publicly available in-toto metadata and no instructions to verify in-toto with in-toto.

**Expected behavior**:
Generate metadata and provide instructions how to use it to verify i

[2019-04-12 09:31] lukpueh commented on #278
I did prepare such metadata and also a corresponding document for our initial [in-toto pre-release 0.1.1](https://github.com/in-toto/in-toto/releases/tag/0.1.1).

I'm pasting it below with little redaction. It is the goal of this ticket to do this, taking into account any changes to in-toto's verification routine, and new features such as parameter substitution and gpg support.

------------------

[2019-04-12 16:11] trishankatdatadog commented on #278
I recommend using TUF to bootstrap the whole process

[2019-04-24 15:08] SantiagoTorres opened #281 "GPG: Warn if expiration subpacket is not hashed."
**Description of issue or feature request**:
When verifying expiration dates on keys, a hashed or unashed subpacket is parsed to obtain the date in which the key is expired.

**Current behavior**: Currently this date is parsed properly, and hashed subpackets are prioritized over unhashed ones.

**Expected behavior**: It would be nice to use the logger faciilty to warn the user when the unhashed su

[2019-04-24 15:15] lukpueh commented on #275
Also transfer #281 to securesystemslib

[2019-04-24 15:58] #236 closed, assigned to nobody

[2019-04-27 21:58] SantiagoTorres commented on #271
I think probot is not a bad idea in this regard. I enabled it for this repository for the time being. Let's see how it works.

[2019-04-29 14:50] lukpueh commented on #281
IIRC RFC4880 states that any subpacket may be hashed or unhashed, since we use other subpackets too (issuer, fingerprint, primary user id, signature creation time) we might want to warn on those too.

We also have to decide if we want to warn once (e.g. on export) or keep the a hashed/unhashed flag and warn, whenever the corresponding information is used (subpackets are currently extracted in `in_

[2019-04-30 07:51] lukpueh opened #282 "test_in_toto_run_with_byproduct test fails sporadically"
**Description of issue or feature request**:
I've see recently seen these appear sporadically on different Python versions.
[code]

**Current behavior**:
- Meaningless test output (i.e. `AssertionError: False is not true`)
- Test fails sporadically

**Expected behavior**:
- Enhance test output (i.e. add message to `self.assertTrue(<expr>, <message>)`)
- Fix test

[2019-05-08 16:29] lukpueh opened #284 "Revise and consolidate documentation"
**Description of issue or feature request**:
In addition to #276, which deals with a technical overhaul of the documentation, we should also revise and consolidate in-toto documentation and supporting material which is scattered across multiple repos of the in-toto GitHub organization.

This issue is motivated by feedback from @ultrasaurus in https://github.com/in-toto/docs/issues/15#issuecomment-

[2019-05-09 15:18] lukpueh commented on #271
#283 adds DCO info to the contributor docs and governance file and I just updated our cii silver badge. Kudos to @SantiagoTorres for enabling probot!

[2019-05-09 15:18] #271 closed, assigned to nobody

[2019-05-16 16:57] lukpueh opened #286 "Link to tag in setup.py's long description field is broken"
**Description of issue or feature request**:
Since in-toto's `0.2.3.dev2` release the corresponding git tags have `v` as a prefix, e.g. `v0.2.3.dev2`.

Links to the tags for each version, as shown on in-toto's PyPI pages still uses the old format, and thus 404.

**Current behavior**:
The link in `setup.py`'s `long_description` is `<https://github.com/in-toto/in-toto/tree/{version}>`, which does no

[2019-05-17 08:44] lukpueh commented on #286
FYI I created lightweight tags, pointing at the `v`-prefixed release tags, to unbreak the links from PyPI.

@SantiagoTorres, any thoughts about how we should do this in the future?

[2019-05-17 09:11] lukpueh commented on #286
Independently of a release-tag naming convention, we can start putting our `README.md` into the `long_description` using the new `long_description_content_type` field (see https://github.com/pypa/sampleproject/commit/5be097071c83c935777bde117fa85cd1f64c690a for details).

[2019-05-17 18:18] SantiagoTorres commented on #286
wouldn't it be better to update the pypi desc on the next release?

I agree with the later comment though, the description seems lacking.

[2019-05-28 12:53] lukpueh commented on #286
Yep, that's one of the two solutions I suggested above. I'm fine either way.

[2019-05-31 08:41] lukpueh commented on #286
@SantiagoTorres, quick question, is there any benefit from `v`-prefixing version numbers in release tags? Is there any standard / best practice?

@koobs from FreeBSD [says](https://github.com/secure-systems-lab/securesystemslib/issues/167#issuecomment-497573001) that they (and other downstream automatic update detectors) look for pure X.Y.Z release tags.

[2019-05-31 09:35] koobs commented on #286
@lukpueh More precisely, we cant look for / predict $arbitrarytext prefixed or suffixed. A consistent prefix/suffix is ok, but X.Y.Z is just less cycles to reason about.

[2019-05-31 09:54] lukpueh commented on #286
Maybe a consistent release tagging scheme would be something for our [Lab Guidelines](https://github.com/secure-systems-lab/lab-guidelines), which, by the way, might generally benefit from some guidelines/instructions/pointers about releasing software?

What do others think? @SantiagoTorres, @JustinCappos, @awwad, @mnm678?

[2019-05-31 15:12] SantiagoTorres commented on #286
Well I don't have any strong preference. I'm all for having a standardized way to do it. I took the v-prefix idea from other projects that I package from arch as it's easier on auto-completion (i.e., `git checkout v[tab]` will generally just autocomplete tags and versions).

[2019-06-05 11:44] lukpueh commented on #253
fixed with https://github.com/in-toto/in-toto/commit/23cb4d7e62233b5891e2d7c5d5b6bc07fb1d909d

[2019-06-10 14:36] ultrasaurus opened #287 "encode best practice in default rule behavior for DISALLOW *"
**Description of issue or feature request**:
CNCF SIG Security assessment notes: "As a recommended best practice, we assume there is a DISALLOW * rule at the end of the rule list for each step." This would be more robust if it was encoded in the step, rather than required for users to specify.

**Current behavior**:
From the [demo](https://github.com/in-toto/demo/blob/8ad1b606e6bd48387cab8a4d22235

[2019-06-10 14:54] reza-curtmola commented on #287
I believe that DISALLOW * was implicitly included as part of rules, but it was changed a while ago.
There was a discussion back then, and I believe Santiago also pointed out some firewalls that don't have an implicit DISALLOW rule at the end of the ruleset.

[2019-06-10 15:05] lukpueh commented on #287
IIUC the assessment note recommends a default `["DISALLOW", "*"]` rule added to each rule list (when using in-toto tooling to create layouts?). This is different from having an implicit *disallow everything that has not been consumed until now*  in the verification routine, as we had it prior to #140.

in-toto/docs#4 calls for documenting the rationale for all artifact rule related design decision

[2019-06-19 09:15] lukpueh opened #289 "Revise pylint configuration"
**Description of issue or feature request**:
We use the [`pylint`](https://www.pylint.org/) configuration file from our [secure-systems-lab/samples-documents](https://github.com/secure-systems-lab/sample-documents/blame/master/pylintrc) repo  (`pylintrc`), which seems to be a generic template from an unknown source that was slightly customized.

However, important checks such as `max-line-length`

[2019-06-24 15:47] #286 closed, assigned to nobody

[2019-07-02 15:53] joshuagl commented on #281
It looks like this was at least partially resolved in #288 / c4da7995. Should this issue be closed or is there work left to do here?

[2019-07-02 15:54] SantiagoTorres commented on #281
Hi @joshuagl, yes, you're right. Thanks!

[2019-07-02 15:54] #281 closed, assigned to nobody

[2019-07-03 12:46] lukpueh commented on #270
While working on this issue, we should revise dependency configurations in `requirements*.txt` and `setup.py` and automation configs, i.e. `tox.ini`, `.travis.yml`, `appveyor.yml`.
Also see discussion about optional dependency in #291.

[2019-07-03 12:57] lukpueh commented on #253
#291 makes securesystemslib's pynacl dependency optional. However, our tests currently require pynacl. Similarly to gpg, we should exclude tests that require pynacl, if pynacl is not available and configure automated tests without pynacl.

[2019-07-03 13:16] lukpueh opened #292 "Revise installation instructions"
**Description of issue or feature request**:
This is a sub-ticket of #284 and should be addressed in accordance with #270 and #291 (also see related 7ebc38e689f6534f909a29baf6d8d20a7d82604d).

**Current behavior**:
- Outdated user installation instructions in `README.md`
- No developer installation instructions

**Expected behavior**:
- Update user installation instructions (system dependencies, o

[2019-07-10 08:51] lukpueh commented on #270
Thanks for your four cents, @trishankatdatadog and @SantiagoTorres!

I did a quick review of a few tools - [`pyup`](https://pyup.io), [`renovate`](https://renovatebot.com),  [`dependabot`](https://dependabot.com) - and ended up installing dependabot, because it is a GitHub app maintained by the GitHub folks, which let me assume that it is well integrated. It also seems something others are [moving

[2019-07-15 15:49] lukpueh commented on #270
Fixed by enabling `dependabot` and using a version-pinned requirements file (see `requirements-pinned.txt`) in automated tests (see `tox.ini`).

[2019-07-15 15:49] #270 closed, assigned to nobody

[2019-07-16 14:12] lukpueh commented on #273
Fixed by referencing @SantiagoTorres' and @JustinCappos' [in-toto security self-assessment in the cncf/sig-security repo](https://github.com/cncf/sig-security/blob/master/assessments/projects/in-toto/self-assessment.md).

[2019-07-16 14:12] #273 closed, assigned to nobody

[2019-07-16 14:40] lukpueh commented on #272
Fixed by pointing out the CS background of the primary developers, the governance process, and the secure design practices outlined in the CNCF/sig-security self-assessment.

[2019-07-16 14:40] #272 closed, assigned to nobody

[2019-09-03 13:55] #289 closed, assigned to nobody

[2019-09-06 14:22] lukpueh commented on #275
`in-toto.gpg` was added to securesystemslib with secure-systems-lab/securesystemslib#174. The next steps are:
- [ ] Transfer gpg GitHub issues from in-toto to securesystemslib repo
- [ ] Update in-toto to use `securesystemslib.gpg` instead of `in-toto.gpg`
- [ ] Remove `in-toto.gpg`

[2019-09-11 14:23] adityasaky opened #303 "Add a --version flag to the CLI commands of the reference implementation"
**Description of issue or feature request**: Add a `--version` flag that allows users to quickly identify the version of the reference implementation being run.

**Current behavior**: Doesn't exist

**Expected behavior**:
[code]

[2019-09-11 14:26] adityasaky opened #304 "Add a flag to accept a target directory to put generated metadata in"
Please fill in the fields below to submit an issue or feature request.  The
more information that is provided, the better.

**Description of issue or feature request**: Currently, the metadata is generated in the directory `in-toto-run` is run in. By adding an appropriate flag, users can specify where to write the generated metadata to.

This can be handy when there are many steps being run from t

[2019-09-19 19:03] adityasaky opened #307 "Enhance runlib to allow users to add arbitrary data to environment / record environment from the CLI"
**Description of issue or feature request**: The in-toto spec doesn't mandate a specific format for the `environment` field in link metadata. It does recommend that the field must contain `variables` for environment variables, `filesystem` for a list of relevant filepaths or hashes, and `workdir` for the present working directory.

The `in-toto-run` and `in-toto-record` CLI commands don't currentl

[2019-09-30 15:15] lukpueh commented on #282
Unsurprisingly this bug is due to a race condition in the `while proc.poll() ...`- loop in  `run_duplicate_streams`:

https://github.com/in-toto/in-toto/blob/a481e474d39aae6b77ec8b9ca1597f919b4ada1d/in_toto/process.py#L194-L212

The subprocess might write something to its stdout/stderr files after the last read from the parent, but exit before the next read.

The original author of that feature ha

[2019-09-30 15:26] lukpueh commented on #282
Also, `in_toto.process` was moved to `securesystemslib` (see https://github.com/secure-systems-lab/securesystemslib/pull/174). We should fix this issue there and start using `securesystemslib.process` here.

[2019-09-30 16:42] lukpueh commented on #282
Confirming that one extra loop  to read after the process exits does the trick. :)
I'll submit a patch to `securesystemslib` and will probably also make a downstream patch for the current Debian release (see https://github.com/in-toto/in-toto/pull/309).

[2019-10-01 09:38] lukpueh commented on #282
This issue will be fixed in https://github.com/secure-systems-lab/securesystemslib/pull/186. Instead of duplicating the fix, we should update in-toto to use `securesystemslib.process` (after 186 has been merged).

[2019-10-04 15:47] #303 closed, assigned to nobody

[2019-10-07 18:59] adityasaky opened #315 "Add a test including source and destination prefixes for test_verify_match_rule"
Currently, https://github.com/in-toto/in-toto/blob/develop/tests/test_verifylib.py#L405 does not include test cases with `IN` clauses for both source and destination.

[2019-10-29 10:41] #282 closed, assigned to nobody

[2019-10-29 16:12] lukpueh commented on #263
Will be fixed with https://github.com/secure-systems-lab/securesystemslib/issues/190 (also see https://github.com/in-toto/in-toto/issues/275)

[2019-10-29 16:12] #263 closed, assigned to nobody

[2019-10-30 22:47] #275 closed, assigned to nobody

[2019-11-04 10:47] lukpueh commented on #292
Also fix in `setup.py` document header.

[2019-11-15 16:40] trishankatdatadog opened #330 "Uppercase keyids throw off reference implementation"
**Description of issue or feature request**:

If an integrator accidentally passes uppercase keyids in the public keys given for a step, the reference implementation does not realize that they should be the same as lowercase keyids.

**Current behavior**:

An uppercase keyid in the pubkeys for a step will break verification, even if that files with the lowercase keyid exist.

**Expected behavior**

[2019-11-18 10:02] lukpueh commented on #330
Thanks for filing the issue, @trishankatdatadog. Does "throw off" mean that in-toto treats keyids in a case-sensitive manner? To me this sounds like expected behavior.

For comparison, step names are also case sensitive. E.g. a step in a layout with name `"foo"` and authorized pubkeys `[8ba69b87d43be294f23e812089a2ad3c07d962e8]` will only accept a link file with filename `"foo.8ba69b87.link"` whic

[2019-11-25 19:51] #292 closed, assigned to nobody

[2020-01-22 14:25] webknjaz opened #344 "https://www.in-toto.io/ doesn't work"
Hi, I've met a link to https://www.in-toto.io/ (with `www.`; here https://rasulkireev.com/writings/pygotham-2019-day-1) and was surprised that it doesn't work.

https://in-toto.io/ works (without `www` subdomain).

I think somebody should configure www to point to the same place and maybe add a redirect if needed.

[2020-01-22 18:04] SantiagoTorres commented on #344
Hi @webknjaz, we'll add the redirect soon. Thanks for bringing this to our attention :+1:

[2020-02-08 21:24] woswos opened #347 "License Date Update"
**Description of issue or feature request**:
It is a minor issue, but the date in the license file is outdated. I will make the change and link the pull request.

**Current behavior**:
"Copyright 2018 New York University"

**Expected behavior**:
"Copyright 2020 New York University"

[2020-02-11 12:41] lukpueh commented on #347
See https://github.com/in-toto/in-toto/pull/348#issuecomment-584615660.

[2020-02-11 12:41] #347 closed, assigned to nobody

[2020-02-26 15:46] lukpueh opened #351 "Add more control over in-toto-run command standard streams"
**Description of issue or feature request**:

**Current behavior**:
in-toto currently either completely ignores standard streams (default) or duplicates them, i.e. prints them to the console and records them in link metadata (on `--record-streams`/`record_streams=True`).

**Expected behavior**:

__in `in-toto-run`__

- Per default print standard streams to console but don't record them in link met

[2020-03-06 15:38] lukpueh commented on #276
- in-toto documentation is hosted on https://in-toto.readthedocs.io/en/latest/
- demo is auto-tested by https://github.com/in-toto/demo/blob/master/run_demo_md.py

closing ...

[2020-03-06 15:38] #276 closed, assigned to nobody

[2020-03-06 15:50] lukpueh commented on #239
This is really a nice-to-have feature. Removing 1.0 label and adding low-prio.

[2020-03-10 10:28] lukpueh commented on #277
This was accidentally auto-closed by #341, which only fixes the CLI side of this issue.

[2020-03-27 17:31] adityasaky opened #355 "--exclude doesn't exclude when the pattern is an absolute path"
Please fill in the fields below to submit an issue or feature request.  The
more information that is provided, the better.

**Description of issue or feature request**: `in-toto-run --exclude` doesn't actually exclude if the pattern provided is an absolute path. @lukpueh and I found this when trying to record artifacts from `/`.

**Current behavior**:
[code]
`/foo` appears after applying exclude p

[2020-03-27 18:00] trishankatdatadog commented on #355
Good find!

[2020-03-27 18:01] adityasaky commented on #355
Credit to @lukpueh, I was super confused.

[2020-05-04 18:07] hlieberman opened #361 "RFC: S/MIME instead of GPG"
**Description of issue or feature request**:
Feature Request

**Current behavior**:
in-toto uses GPG.

**Expected behavior**:
in-toto uses S/MIME or GPG.

While GPG is great for many things, if you already have an established PKI infrastructure that uses client certificates, setting up yet another PKI hierarchy can be annoying.  It would be awesome if in-toto would let you use that hierarchy -- fo

[2020-05-12 19:53] trishankatdatadog commented on #287
According to @SantiagoTorres, I was also responsible for this, although I can't remember having this discussion, and it is conducive for present purposes to forget about it now even if it happened...

In any case, @adityasaky and I were bitten by this today, and we highly recommend adding an implicit "DISALLOW *" pattern at the end of every step. At the very least, I will add it to my [layout libr

[2020-05-12 22:10] SantiagoTorres commented on #361
Hi @hlieberman ! Sorry this PR slipped through the cracks. I think it'd be rather cool to take a look at S/MIME for signatures, although I'll confess I'm way more familiar with how  RFC4880 works than wherever S/MIME is encoded.

I do want to say that we do not support the full RFC4880 standard (e.g., we don't really make any decisions about the trust model on keys), and rather we gate trust using

[2020-05-14 02:05] hlieberman commented on #361
Hi @SantiagoTorres!  No apologies needed; this is all still pretty high level hypotheticals at this point.

In terms of S/MIME signature format, it basically uses PKCS#7/CMS under the hood.  I believe the latest specification is RFC3851.  In terms of the trust model, you have two different paths you could go down.  The way that adheres closest to the way in-toto currently does things would simply

[2020-05-26 08:21] lukpueh commented on #355
Ping @kristelfung and @cindykimxp. Do I remember correctly that one of you volunteered to work on this?

[2020-05-26 11:43] kristelfung commented on #355
Hm, I don't think so!

[2020-05-26 21:56] cindykimxp commented on #355
Ah, yeah I don't think I'm familiar with this one!

[2020-05-27 08:26] lukpueh commented on #355
Thanks for getting back to me, and apologies for the false accusations. :P I must have mixed up the issues.

[2020-05-27 10:35] lukpueh commented on #361
Many thanks for your input, @hlieberman!

This basically describes our GPG support. It is only relevant for signing. When it comes to verification the keys (contained in a layout) and signatures (contained in links) are detached from any local GPG keyring or global web of trust.

This indeed sounds interesting. Do I understand correctly that you suggest to support a usage mode, where an in-toto la

[2020-05-29 15:07] IshaVDave opened #365 "Errors while running tests on Windows"
I am getting an error for 3 out of 216 tests while running it on a Windows PC. They all belong to the class 'TestRecordArtifactsAsDict' in the 'test_runlib.py' set of tests. They show the same message: 'A required privilege is not held by the client'.

![image](https://user-images.githubusercontent.com/62882240/83274863-f7807980-a1eb-11ea-84bb-d10104ada541.png)

It seems like it is a problem with

[2020-05-29 15:20] adityasaky commented on #365
Interesting, it turns out you need administrative privileges to create symlinks in Windows. Does it still appear if you run your command prompt as administrator (just for testing purposes here, mind)?

[2020-05-29 15:25] IshaVDave commented on #365
Yes, that was the first thing I tried. It won't work even if I run the command prompt as an administrator.

[2020-05-29 16:30] adityasaky commented on #365
That's quite interesting. Going to defer to one of the windows pros from here. :)

[2020-06-02 17:45] SantiagoTorres commented on #365
As of windows 3.8 you need to enable developer mode to be able to symlink from the python interpreter. I wonder if what we want to do in this case is to warn windows users when this happens (i.e., if the tests fail because of no permissions)

[2020-06-03 11:17] IshaVDave commented on #365
Okay, I can do that. Should I just update the code via a pull request and then you could approve it and commit the changes?

[2020-06-03 12:44] lukpueh commented on #365
@SantiagoTorres, thanks for the hint. A warning makes sense to me.
@IshaDave, can you try running the tests in Python development mode to confirm this? And yes, a pull request would be great. :)

[2020-06-03 18:24] IshaVDave commented on #365
I just confirmed it. I get no errors if I run it in developer mode.

[2020-06-17 09:58] lukpueh opened #370 "Consider not curating a full custom Python code-style guide"
**Description of issue or feature request**:

Following coding style guidelines is extremely important especially for the reference implementations we create at the lab. But I've become increasingly reluctant to point contributors to our guideline document, due to the issues outlined below.

Given that curating our own code style guide is a time-consuming task and there are many excellent code gui

[2020-06-17 14:01] trishankatdatadog commented on #370
Agreed. This prevents us from being standard with other Python codebases, and using standard code formatters like [black](https://black.readthedocs.io/en/stable/).

[2020-06-17 23:15] adityasaky commented on #370
I like this idea a lot! :)

[2020-06-18 14:42] adityasaky commented on #109
Note: we also have the option of including common inspections in our [verification container image](https://github.com/in-toto/Dockerfiles#verifier-1). I believe there has been some other discussion about this as well?

[2020-06-23 14:53] #284 closed, assigned to nobody

[2020-06-23 18:44] adityasaky commented on #355
Relevant: https://github.com/cpburnz/python-path-specification/blob/master/pathspec/patterns/gitwildmatch.py

[2020-06-24 10:41] #365 closed, assigned to nobody

[2020-06-24 12:00] lukpueh opened #371 "Revise input checks in API functions"
**Description of issue or feature request**:

While [reviewing #364](https://github.com/in-toto/in-toto/pull/364#discussion_r444803057) I realized that we don't visibly sanitize all arguments at the top of all of our interface functions. This might be because we trust the internal functions, to which the interface functions in many cases pass the arguments on, to take care of malformed arguments.

[2020-06-25 04:55] benwuNYC commented on #355
The in-toto-run --exclude does not exclude patterns that include an absolute path (denoted by a forward slash ' / '). In the above example pinpointed by Aditya, this would be the '/foo' path.

It was discovered that this issue has to do with the pathspec.patterns.gitwildmatch.py implementation of how patterns were converted into regular expressions.

**Link to pathspec.patterns.gitwildmatch.py imp

[2020-06-25 13:20] adityasaky commented on #355
Great work, @itsbenwu!

I think it's important to note that the PathSpec implementation specifically intended this (I was quite surprised).

This would fix it but as I mentioned yesterday, I'm not 100% sold on it. I think it'd also be interesting to see if this occurs on the equivalent pattern matching in in-toto-golang, and if not, we should aim to be consistent across them. Perhaps @shibumi can

[2020-06-26 10:28] lukpueh commented on #355
Thanks for digging into `gitwildmatch`, @itsbenwu and for your two cents, @adityasaky! I am okay with the *quickfix*, but we should document it.

To provide some background, when I first implemented artifacts excluding (in https://github.com/in-toto/in-toto/pull/56, worth a read), I used `fnmatch` for pattern matching and documented its behavior like so:

https://github.com/in-toto/in-toto/blob/c0

[2020-06-26 11:43] shibumi commented on #355
@lukpueh What about the special `**` operator? It's in every gitignore and not yet listed in your docstring for runlib.py. If we really support gitignore syntax we should add this operator. We definitely need to be precise if we do have full gitignore support or not. If not I do not  suggest to call it gitignore exclude syntax :)

Also I suggest having a look on the pattern format for gitignore: h

[2020-06-26 12:16] lukpueh commented on #355
Thanks for chiming in, @shibumi! As indicated above, the documentation needs revision. And yes, if the pattern matcher we use supports `**`, then we should document it.

[2020-06-26 12:21] shibumi commented on #355
ahh nevermind. I just realized I can scroll down and then see that you exclude the **-operator ^^

[2020-06-26 13:37] adityasaky commented on #304
Closed by #364. Great work, @SolidifiedRay!

[2020-06-26 13:37] #304 closed, assigned to nobody

[2020-06-29 23:16] adityasaky commented on #186
This became an issue on https://github.com/cnabio/signy/pull/80/. The PR was initially using a root layout I wrote (by hand) and signed using a demo key, and I missed defining `"private": ""` in the public key definitions. `signy` uses `in-toto-golang` to verify, and its representation of the same layout included `"private": ""`, and therefore, signature verification failed.

Verification passes o

[2020-06-30 07:55] lukpueh commented on #186
Thanks for reporting, @adityasaky! I'd say this is only mildly related to the original issue here, which requested checks for non-specified fields on the layout.

The issue you describe is more about a seemingly under-specified field. Although, the in-toto [specification is actually clear about public keys](https://github.com/in-toto/docs/blame/master/in-toto-spec.md#L545-L553):

object:
[code]

S

[2020-06-30 08:56] lukpueh commented on #370
Just realized that this issue should live in secure-systems-lab/code-style-guidelines, which it does now: https://github.com/secure-systems-lab/code-style-guidelines/issues/20

[2020-06-30 08:56] #370 closed, assigned to nobody

[2020-06-30 13:44] adityasaky commented on #186
Thanks, @lukpueh. I'd like to add that I think we should get rid of any mention of the private portion of the key from the spec to avoid any confusion. The TUF spec has done that as far as I can tell and our key formats section mirrors that one.

[2020-06-30 13:50] lukpueh commented on #186
@adityasaky, we do need the "private" portion for signing.

[2020-06-30 13:52] adityasaky commented on #186
Right, but that's a convenience in implementing signing, right? We don't technically need to define it in our metadata formats? I may be way off here, though.

[2020-07-02 14:38] benwuNYC commented on #355
Thanks for sharing some resources to help me out with the documentation, @lukpueh! I've created the documentation and followed the settings documentation as closely as possible, including documentation to Pathspec and .gitignore when appropriate. I shared a link to the documentation with you and it may also be accessed here: https://docs.google.com/document/d/1-99TyGUs0mSvFRUKpnQG2fffKYCNfQYbmE3Vg

[2020-07-06 22:50] adityasaky commented on #355
Relevant: #373

[2020-07-27 14:10] shibumi opened #378 "duplicate module imports"
Please fill in the fields below to submit an issue or feature request.  The
more information that is provided, the better.

**Description of issue or feature request**:
@trishankatdatadog was so nice and reported, that we have a few duplicate imports. We should get rid of those, if possible.

https://lgtm.com/projects/g/in-toto/in-toto/?mode=list

**Current behavior**:
duplicate imports, that are

[2020-07-28 10:52] lukpueh commented on #378
FYI *lgtm* has the following [recommendation](https://lgtm.com/projects/g/in-toto/in-toto/?mode=list) to fix this:

*"Remove the from xxx import yyy statement. Add yyy = xxx.yyy if required."*

[2020-07-28 10:54] lukpueh commented on #378
(Also, and on an unrelated side-note, in-toto's lgtm report looks pretty good to me.) 💯

(ping https://github.com/secure-systems-lab/securesystemslib/issues/243)

[2020-07-28 14:59] shibumi commented on #378
@lukpueh definitely. It's really nitpicking here. I will quickly prepare a PR for this. I don't think it will take much time.

[2020-07-28 16:18] shibumi commented on #378
Fixed in: https://github.com/in-toto/in-toto/pull/379

[2020-08-20 12:51] #378 closed, assigned to nobody

[2020-08-25 17:53] adityasaky commented on #344
Thanks for bringing this to our attention, @webknjaz. This has now been fixed. :smile:

[2020-08-25 17:53] #344 closed, assigned to nobody

[2020-08-26 07:22] lukpueh opened #388 "Display logo on readthedocs"
**Description of issue or feature request**:
Taking inspiration from @shibumi's https://github.com/in-toto/in-toto-golang/pull/77, let's add the [in-toto logo](https://github.com/in-toto/image-resources/tree/master/logo) on [in-toto.readthedocs.io](https://in-toto.readthedocs.io/en/latest/).

[2020-09-04 08:32] adityasaky commented on #355
Closed by #373. Thanks @itsbenwu!

[2020-09-04 08:32] #355 closed, assigned to nobody

[2020-09-07 19:10] shibumi opened #391 "More test cases for exclude patterns"
**Description of issue or feature request**:

We need to make sure, that our exclude implementation satisfies our desired functionality as specified in https://github.com/itsbenwu/in-toto/blob/a51366432a22a2bb1112b10dd07797232c23757d/doc/source/exclude-patterns.md

The exclude patterns specification mentions a few edge cases we are not testing yet:

* A slash followed by two consecutive asterisks

[2020-09-07 19:52] adityasaky commented on #391
Thanks for setting this up, @shibumi!

[2020-10-09 12:56] Pa3cia07 commented on #391
hello, is this issue still actual?

[2020-10-09 13:22] shibumi commented on #391
@Pa3cia07 I think it is. Are you willing to contribute a patch? :D

[2020-10-09 13:28] Pa3cia07 commented on #391
@shibumi I would like to try it :D

[2020-10-09 13:31] shibumi commented on #391
@Pa3cia07  cool. Go ahead. If you have any questions either ping me here, in your PR or in our slack channel on slack.cncf.io

[2020-10-20 10:19] lukpueh opened #401 "Format custom "Side Effects" docstring section"
**Description of issue or feature request**:
in-toto uses the [Google-style docstring format](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html#example-google) and the [Napoleon Sphinx extension](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/index.html) to auto-generate html docs published on [in-toto.readthedocs.io](https://in-toto.readthedocs.io/en/latest/) (s

[2020-10-30 09:59] lukpueh opened #407 "Consider switching to GitHub Actions for automated testing"
**Description of issue or feature request**:
We switched from automated testing on Travis CI (Linux) and Appveyor (Windows) to GitHub Actions in our sister-project `in-toto-golang` (see https://github.com/in-toto/in-toto-golang/pull/72), mostly due to availability concerns about Appveyor and because it seems appealing to configure only one service for all platforms.

Let's consider switching here

[2020-10-30 10:00] lukpueh commented on #407
Related:  https://github.com/theupdateframework/tuf/issues/1195 and https://github.com/secure-systems-lab/securesystemslib/issues/297

[2020-11-03 12:33] lukpueh commented on #407
Also consider building on multiple architectures as requested in https://github.com/in-toto/in-toto/pull/403.

[2020-11-04 10:26] lukpueh commented on #407
Also consider injection vulnerabilities reported in https://crbug.com/project-zero/2070

[2020-11-06 16:14] #80 closed, assigned to nobody

[2020-11-09 08:11] SolidifiedRay commented on #401
**Some Updates:** I tested the proposed fix (sphinx-contrib/napoleon#10) and it works.
<br/>
![1](https://user-images.githubusercontent.com/24267981/98514284-356fd800-2237-11eb-9e6a-be017ba708bf.png)
<br/>
However, the words are bold when we use the formatting of the `Parameters` section, and we may not want that.
So I tried to use the formatting of the `Returns` section instead.
[code]
Unfortunat

[2020-11-09 09:51] lukpueh commented on #401
Thanks for reporting your progress, @SolidifiedRay!

Agreed! :)  I suggest you take a look at how napoleon handles each of the [sections](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/index.html#docstring-sections) it supports. IIRC they map to only a few underlying sphinx markup types. I'm looking forward to see your suggestions.

[2020-11-16 05:35] SolidifiedRay commented on #401
**A simple solution:** add a new 'custom' section

![3](https://user-images.githubusercontent.com/24267981/99214667-cb0ee880-279e-11eb-9cae-d3ffc95135be.png)

![5](https://user-images.githubusercontent.com/24267981/99214669-cba77f00-279e-11eb-81d7-7fc1e5b39bb6.png)

Then in the `config.py`, we can use the following setting:

![2](https://user-images.githubusercontent.com/24267981/99214666-cb0ee880

[2020-11-16 17:19] adityasaky opened #414 "Improve documentation of parameter substitution"
Please fill in the fields below to submit an issue or feature request. The more information that is provided, the better.

**Description of issue or feature request**:

in-toto's reference implementation provides a mechanism to substitute values in artifact rules (in steps and inspections), the expected command field in steps, and the "run" field in inspections. The documentation for this feature

[2020-11-17 15:27] lukpueh commented on #414
Thanks for documenting this request, @adityasaky.

I suggest we add a new "Usage Examples" top-level section to [in-toto.readthedocs.io](https://in-toto.readthedocs.io/en/latest/) to which we move the already existing ["Layout Creation Example" page](https://in-toto.readthedocs.io/en/latest/layout-creation-example.html) plus more usage examples, one of which could show how run `in_toto_verify` wit

[2020-11-18 16:26] lukpueh commented on #401
Thanks for the detailed proposal, @SolidifiedRay! I like the idea of using the second element of a `napoleon_custom_sections`-tuple to configure this. I do, however, think it is a bit odd that we now have two ways of defining a custom section each with a fixed display style, e.g.:
[code]

Also your `_parse_custom_section()` displays the contents bold, which is not what we want, but this should be

[2020-12-04 11:03] lukpueh commented on #277
Closed with #80 and the release of [in-toto 1.0.0](https://github.com/in-toto/in-toto/releases/tag/v1.0.0).

[2020-12-04 11:03] #277 closed, assigned to nobody

[2020-12-07 04:22] SolidifiedRay commented on #401
I also created a [fork](https://github.com/SolidifiedRay/napoleon) that adds a `Side Effect` docstring section instead of a configurable custom section, and it will render `Side Effects` section as we expected.

[2020-12-08 14:20] joshuagl opened #417 "Change expiration check to match TUF"
**Description of issue or feature request**:

There was a discussion in the issue tracker of TUF reference implementation (https://github.com/theupdateframework/tuf/issues/1231) about how expiration datetime's should be compared.

Having done some research into how other security providers are comparing expiration equivalents (i.e. OpenSSL x509 certificate checking code, and GnuPG expiration check

[2020-12-08 14:21] joshuagl commented on #417
It may make sense to hold on updating the reference implementation until a similar change has been made to the specification, see https://github.com/in-toto/docs/issues/42

[2020-12-18 09:49] lukpueh commented on #401
I just realized why there is no activity on [sphinx-contrib/napoleon](https://github.com/sphinx-contrib/napoleon), it is because the extension has been [built into Sphinx](https://github.com/sphinx-doc/sphinx/tree/3.x/sphinx/ext/napoleon) quite a while ago, and there is even a big note about it on the [Napoleon RTD page](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/index.html#napoleon-m

[2020-12-21 15:01] #388 closed, assigned to nobody

[2020-12-21 15:43] SolidifiedRay commented on #401
Sorry for the late reply. @lukpueh
I rebuild the in-toto doc with `sphinx.ext.napoleon`, and it doesn't display the custom section as desired.
I will post our request on sphinx-doc/sphinx later today.

[2021-02-03 12:47] lukpueh commented on #401
@SolidifiedRay, would you mind updating our sphinx setup (requirements-docs.txt and conf.py) once your upstream fix is released?

[2021-02-03 13:54] SolidifiedRay commented on #401
Sure!

[2021-02-17 09:11] lukpueh commented on #401
Readthedocs does not automatically use the latest available sphinx version. After merging #428 our custom "Side Effects" section is [not rendered as we want](https://in-toto.readthedocs.io/en/latest/api.html#generate-key-pairs). I tried adding a [min version constraint in `requirements-docs.txt` ](https://github.com/in-toto/in-toto/compare/develop...lukpueh:bump-min-sphinx) but that [looks even wo

[2021-02-17 14:44] SolidifiedRay commented on #401
Yes, I will take a look.

[2021-02-19 15:12] lukpueh commented on #401
Looks like sphinx was constrained to <2 in older readthedocs projects... (see https://github.com/readthedocs/readthedocs.org/pull/7201) I wasn't able to change this in the config, but deleting the RTD project and re-adding it did the trick. :)

I think we can finally close this issue. Thanks for your hard work, @SolidifiedRay!

[2021-02-19 15:12] #401 closed, assigned to nobody

[2021-02-26 15:25] lukpueh opened #433 "GitHub Actions: Consider hardening setup"
Follows up on #432.

Coordinate with https://github.com/theupdateframework/tuf/issues/1246

[2021-02-26 15:31] lukpueh opened #434 "GitHub Actions: Re-instate coveralls.io"
**Description of issue or feature request:**
A recent switch from Travis to GitHub Actions removed coveralls.io integration from our CI setup. (see #432)

**Current behavior:**
No publication of coverage data on coveralls.io
No coveralls.io badge

**Expected behavior:**
Re-instate publication of coverage data on coveralls.io
Re-add coveralls.io badge

** Important notes **
- See https://github.com

[2021-02-26 15:36] #407 closed, assigned to nobody

[2021-02-26 15:39] lukpueh opened #435 "GitHub Actions: Enable windows builds"
**Description of issue or feature request:**
Configure recently added GitHub Actions workflow (see #432) to run tests on windows too.

**Current behavior:**
tests run on linux and mac

**Expected behavior:**
tests run on linux, mac and windows

Coordinate with https://github.com/secure-systems-lab/securesystemslib/issues/326 and https://github.com/secure-systems-lab/securesystemslib/issues/337.

[2021-03-02 14:55] mathisonryan commented on #79
The [Digital Bill of Materials (DBoM) open source project](https://github.com/DBOMproject) aims to solve the issue of sharing attestations around various assets in the supply chain by acting as a platform agnostic framework to share data with any of the parties. This is done by utilizing the concept of DBoM Channels which are a permissioned, policy-based store for information. These channels can h

[2021-03-25 16:47] adityasaky opened #439 "Add SPDX License Identifier and Copyright Statement to relevant files"
**Description of issue or feature request**:
The [Badge App](https://bestpractices.coreinfrastructure.org/en/projects/1523?criteria_level=2#basics) for CII Best Practices's Gold level requires each source file to contain a copyright statement and an SPDX License Identifier.

[2021-03-26 09:27] lukpueh commented on #439
This is [what this looks like for tuf](https://github.com/theupdateframework/tuf/blob/1d234798d6214a02301a97906b0f86a769a1b2fa/tuf/api/metadata.py#L1-L2):

[code]

It think for in-toto it will be.

[code]

Note that we [used to list year ranges](https://github.com/theupdateframework/tuf/blob/1d234798d6214a02301a97906b0f86a769a1b2fa/tuf/repository_tool.py#L4-L5) in tuf inline copy right statements,

[2021-03-26 14:28] adityasaky commented on #439
Closed by #440.

[2021-03-26 14:28] #439 closed, assigned to nobody

[2021-03-26 14:45] lukpueh opened #441 "GitHub Actions: Add fossa.com integration"
**Description of issue or feature request**:

Add fossa.com integration to CI/CD (GitHub Action) to fulfill the following CII best practice gold-level requirements:

Coordinate with https://github.com/theupdateframework/tuf/issues/1244.

**Current behavior**:
No automated FLOSS tool is used.

**Expected behavior**:
An automated FLOSS tool is used.

[2021-04-04 04:38] #260 closed, assigned to nobody

[2021-04-04 04:40] adityasaky commented on #260
Do we want to keep this open for the possibility of supporting passing in a target directory?

[2021-04-12 02:05] adityasaky opened #445 "Add support for DSSE"
**Description of issue or feature request**:
The new signature wrapper [DSSE](https://github.com/secure-systems-lab/dsse) removes the in-toto's current dependence on canonicalization, and is also open to encodings other than JSON. Moving the signature wrapper definition out of the in-toto specification will also help it focus on its key goals, making it more readable. The switch to the new specifi

[2021-04-12 02:11] adityasaky commented on #445
The current document format is shared with our sister project, TUF. The implementation for both projects is provided through [securesystemslib](https://github.com/secure-systems-lab/securesystemslib). The tooling for DSSE implemented can be prototyped here, in in-toto, before deciding how to integrate it with securesystemslib for TUF and other projects to take advantage of.

[2021-05-21 20:47] Uttam-Singhh commented on #435
Hello, @lukpueh I would like to work on this can you please guide me!

[2021-05-23 13:29] adityasaky commented on #435
Hey @Uttam-Singhh! Let me try and track down some work. I know @SolidifiedRay was working on this and had some failures on Windows. Am I misremembering, Yuanrui? :)

[2021-05-23 15:55] SolidifiedRay commented on #435
@adityasaky Yes, there are some test failures on Windows.

[2021-05-23 15:56] adityasaky commented on #435
Do you have a branch you could drop here to get @Uttam-Singhh started? :)

[2021-05-23 17:15] SolidifiedRay commented on #435
Yes. https://github.com/SolidifiedRay/in-toto/blob/gh-actions-windows/.github/workflows/ci.yml
This file is not very different from the one we are using now. The only difference is that my branch  runs the tests on windows machines and not on Linux or Mac.

[2021-05-24 06:49] Uttam-Singhh commented on #435
Am I good to go?

[2021-05-26 08:02] omerlh opened #454 "Exit code is 0 even on verification failure"
Please fill in the fields below to submit an issue or feature request.  The
more information that is provided, the better.

**Description of issue or feature request**:

I'm testing in toto right now and noticed that the exit code is not set correctly on failure:

[code]

**Current behavior**:
Exit code is 0

**Expected behavior**:
Exit code should be non zero

[2021-05-26 23:40] adityasaky commented on #435
Yes please, feel free to take a stab at it, while also taking a look at @SolidifiedRay's branch linked above. Thanks!

[2021-05-26 23:45] adityasaky commented on #454
Hi @omerlh, thanks for opening the issue. Currently, when the command that is run differs from the expected command in the layout, it merely shows a warning--this is not a failure of verification. You can check if verification passed successfully in this instance regardless of commands matching using the `-v` flag, for verbosity.

When verification _does_ fail, the exit code should be non-zero.

[2021-05-26 23:48] adityasaky commented on #454
[code]

This is from in-toto/demo after the supply chain has been tampered with.

[2021-05-26 23:50] trishankatdatadog commented on #454
I guess the documentation should clarify this 🙂

[2021-05-26 23:52] adityasaky commented on #454
It's part of the spec (emphasis mine):

I'm following up to see if it's also part of the documentation for the reference implementation. :smile:

[2021-05-26 23:56] adityasaky commented on #454
I see a reference to it here:https://in-toto.readthedocs.io/en/latest/layout-creation-example.html?highlight=expected%20command#layout-creation-example

But I agree, it needs to be clearer, and part of the docs for verification workflow. There, it says "soft-verify" which isn't very clear. I'll submit a fix.

[2021-05-27 05:09] omerlh commented on #454
@adityasaky You [comment](https://github.com/in-toto/in-toto/issues/454#issuecomment-849195031) makes a lot of sense to me, but I am still not sold on this. The `expected_products` only defines what files will be created, but there is no guarantee those files has not tampered with. I am thinking about the first step - which start the chain - usually clone command. If you don't verify the command,

[2021-06-01 13:06] adityasaky commented on #454
If I'm not mistaken, in that instance you'd ideally have in-toto metadata capturing the repository state that you're cloning and/or other solutions to secure the repository itself.

cc-ing @SantiagoTorres to chime in with his thoughts. I also wonder if it's worth moving this discussion to either a different thread or channel since it's not strictly a reference implementation discussion anymore.

[2021-06-19 23:43] brandonmichaelhunter commented on #315
I can take a stab at this if no one minds.

[2021-06-20 00:14] adityasaky commented on #315
Sure, go for it. Thanks!

[2021-06-21 23:38] brandonmichaelhunter commented on #315
Let me know if I got this correct, but it sounds like we need a test case where the IN statement is used for both the source and destination class within a match statement. Is that the correct understanding?

Something like this: MATCH bar IN sub WITH PRODUCTS IN sub FROM dest-item

[2021-06-22 04:12] adityasaky commented on #315
That sounds right to me!

[2021-06-27 17:06] adityasaky commented on #315
Closed by #456. Thanks @brandonmichaelhunter!

[2021-06-27 17:06] #315 closed, assigned to nobody

[2021-06-27 17:42] brandonmichaelhunter commented on #315
You're welcome and thank you for allowing me to help.

[2021-07-02 12:10] amithkk commented on #79
As an update to @mathisonryan's comment. Here is a link to a demonstration video that shows in-toto attestations being stored and retrieved across DBoM nodes: https://www.youtube.com/watch?v=uN-tdOpXtXo

[2021-08-03 20:40] Dentrax opened #464 "model: consider add support for "predicate type: Provenance""
**Description of issue or feature request**:

I propose adding [Predicate: Provenance](https://github.com/in-toto/attestation/blob/main/spec/predicates/provenance.md) type in order to validate content contract.

To get used to in-toto's project domain, I think that it's a great opportunity to implement this missing piece and get feedback from the maintainers.

[2021-08-03 20:41] Dentrax opened #465 "model: consider add support for "predicate type: SPDX""
**Description of issue or feature request**:

We propose adding [Predicate: SPDK](https://github.com/in-toto/attestation/blob/main/spec/predicates/spdx.md) model in order to validate the spec contract by asserting each field of the content.

Similar to https://github.com/in-toto/in-toto/issues/464

We @developer-guy can get to it. 😍 By implementing this, we can also utilize the domain knowledge we

[2021-08-08 04:15] Xynnn007 opened #467 "feature request for Reproducible builds support information"
**Description of issue or feature request**:
Hi all, I'm working on [Reproducible Builds](https://reproducible-builds.org/). I'm searching for a standard specification for
presentation of the build environment(including toolchain, arch, dependencies, even timestamp and etc). In-toto gives a pretty good sketch for supply chain. However, to support reproducible build scenary, I think it will be a go

[2021-08-11 19:47] adityasaky commented on #467
Hi @Xynnn007, thank you for opening the ticket. Strictly speaking about the environment field, I should note that the three subfields listed in the spec are examples, and `env` can contain other arbitrary information.

However, have you taken a look at the in-toto provenance specification? You can find it here: https://slsa.dev/provenance/v0.1. Tied into the https://github.com/in-toto/attestation,

[2021-08-12 02:37] Xynnn007 commented on #467
Thanks for your response!
Sorry for not paying attention to the two materials you've mentioned. I'll read them all.
Thanks.

[2021-08-12 02:37] #467 closed, assigned to nobody

[2021-09-27 16:00] Tiku24 commented on #126
Hey I'm a new beginner can you suggest me how I start with this

[2021-09-27 16:02] SantiagoTorres commented on #126
Hi @Tiku24 !  This is somewhat of a recurring issue, so it may not be best to get started with. However, if you're interested in working around this area, what this issue mostly means is we need to make sure that the exceptions we are throwing are meaningful. The bigger picture is: we want to ensure that we want to eventually determine a minimum set of error messages. Let me know if this makes sen

[2021-09-27 16:06] Tiku24 commented on #126
Ok so from where I should starts  ??

[2021-09-27 16:11] Tiku24 commented on #126
Ok so from where I should starts

On Mon, Sep 27, 2021, 9:32 PM Santiago Torres ***@***.***>
wrote:

[2021-09-27 16:19] adityasaky commented on #126
https://github.com/in-toto/in-toto/issues?q=is%3Aopen+is%3Aissue+label%3A%22Up+for+grabs%22 Check out the "Up for grabs" label. :)

[2021-10-03 14:48] adityasaky commented on #249
I think we can close this one. It hasn't proved to be a problem, and I think the discussion here seems to suggest that the current techniques handle our case well...

[2021-10-03 14:48] #249 closed, assigned to nobody

[2021-11-03 15:24] lukpueh commented on #441
Erratum: Above mentioned requirement is not about license scans, but rather about test coverage. See detailed description for [test branch coverage](https://github.com/coreinfrastructure/best-practices-badge/blob/bfbdad5248bc23a17131e466c4ced304c94be2b0/doc/other.md#test_branch_coverage8) and [statement coverage](
https://github.com/coreinfrastructure/best-practices-badge/blob/bfbdad5248bc23a17131

[2021-11-03 15:25] #441 closed, assigned to nobody

[2021-11-03 15:27] lukpueh commented on #434
This is also relevant for [test branch coverage](https://github.com/coreinfrastructure/best-practices-badge/blob/bfbdad5248bc23a17131e466c4ced304c94be2b0/doc/other.md#test_branch_coverage8) and [statement coverage](
https://github.com/coreinfrastructure/best-practices-badge/blob/bfbdad5248bc23a17131e466c4ced304c94be2b0/doc/other.md#test_statement_coverage80) best practice gold badge criteria.

Let

[2022-01-18 15:09] nathanawmk opened #484 "any plans to continue work on this project?"
I believe that if in-toto is adopted at scale, many of the software supply chain hacks would not have happened.

It seems like work has stopped on this - are there plans to continue work on in-toto?

[2022-01-18 15:22] adityasaky commented on #484
Hi @nathanawmk, work on in-toto has not halted at all. This implementation is seeing lower activity because of a couple of reasons:
1. It's had a stable release, and is therefore not where newer integrations are "tested". Stability is paramount here.
2. A lot of the current usage of in-toto is in the cloud native space, and as a result the [Go implementation](https://github.com/in-toto/in-toto-gol

[2022-01-18 15:25] adityasaky commented on #484
I do want to add that if there's a particular feature you're looking for in this implementation, feel free to open an issue or submit a PR. If you'd like to discuss it beforehand, you can reach us via the Slack workspace or the mailing list. :)

[2022-01-18 15:25] #484 closed, assigned to nobody

[2022-02-22 08:14] adityasaky commented on #391
Closed by @rszamszur in #487.

[2022-02-22 08:14] #391 closed, assigned to nobody

[2022-03-04 14:30] attreyee-muk commented on #445
Hello! I would like to contribute to this project for GSOC'22. Can you please help me to get started with it?

[2022-03-04 15:30] adityasaky commented on #445
Hi @a-muk, sure thing!

in-toto is a framework that generates metadata files which can be used to make certain verifiable claims about processes in the software supply chain. This metadata is cryptographically signed and represented using what we call a signature wrapper or envelope. The current signature wrapper is defined in the [in-toto specification](https://github.com/in-toto/docs/blob/master

[2022-03-04 15:34] attreyee-muk commented on #445
Thank you @adityasaky for the overview.

[2022-03-21 13:42] PradyumnaKrishna commented on #445
Hello @adityasaky,

I am interested in this project for GSoC'22. I tried to understand the code and according to my understanding, currently `Metablock` handles the operation and need to implement a new model for metadata with DSSE with backward compatibility. Am I correct?

DSSE implementation example was also very clear.
I was reading the ITE-5 when I noticed it says "payload is expected to be a

[2022-03-21 15:08] adityasaky commented on #445
`SERIALIZED_BODY` is of type `bytes` and should be a JSON object which includes a `_type` field. The [protocol](https://github.com/secure-systems-lab/dsse/blob/master/protocol.md#signature-definition) only refers to `SERIALIZED_BODY` for the actual signature calculation while the envelope discusses using base64 encoding since DSSE supports signing arbitrary byte streams that may or may not be dire

[2022-03-22 16:38] PradyumnaKrishna commented on #445
Thanks, got it, byte stream cannot be represented in form of JSON thats why envelope encodes it in base64.

There is a [ecdsa.py](https://github.com/secure-systems-lab/dsse/blob/master/implementation/ecdsa.py) in the implementation of DSSE, which I believe provided by `securesystemslib` for in-toto metadata wrapper with DSSE or just have to write similar code when implementing?

[2022-03-22 18:47] adityasaky commented on #445
Definitely use `securesystemslib`.

[2022-04-13 08:01] chunteck commented on #307
Hi,

I'm exploring using in-toto to generate provenance/metadata for my CI/CD pipeline, and I ran into an issue whereby I need to capture environment data (e.g instance id, job id) into the link metadata, so that I can verify that the artifacts generated were indeed built by specific instances/servers.

I came across this issue and was wondering if there are any future plans to allow us to specify

[2022-04-16 18:23] adityasaky commented on #307
Hi @chunteck, some of the thinking behind `env` has been captured in the new in-toto / SLSA provenance specification. Have you checked that out yet? It's got a `builder.id` field for example that should address your need.

https://slsa.dev/provenance/v0.2

[2022-04-17 01:45] chunteck commented on #307
Hi @adityasaky, if I use the new SLSA provenance specification, I would need to write a script to generate the provenance myself right? Does in-toto support generating the new specification, or have future plans to support the new specification? Right now it seems that only the old link metadata specification is generated when using `in-toto-run`

[2022-04-17 17:24] adityasaky commented on #307
The SLSA provenance model is defined in in-toto-golang (https://github.com/in-toto/in-toto-golang/blob/master/in_toto/slsa_provenance/v0.2/provenance.go) but there isn't a workflow there like in-toto-run that generates it.

[2022-04-18 08:09] chunteck commented on #307
noted, thanks!

[2022-04-24 02:25] liufangwai opened #493 "Is there an in-toto architecture diagram or model diagram? which storages have been supported?"
Is there an in-toto architecture diagram or model diagram? which storages have been supported?

[2022-04-26 13:26] adityasaky commented on #493
Hi @liufangwai, I'm unclear what you mean by this. Can you clarify? Do you mean what storage backends this implementation supports for storing metadata?

[2022-05-05 23:48] nealmcb opened #496 "web layout tool generates suggested `in-toto-sign` commands with incorrect usage"
**Description of issue or feature request**:

The web layout tool generates a suggested `in-toto-sign` command at the end:

`in-toto-sign --key <PROJECT-OWNER> --file <PROJECT-OWNER> <YOUR LAYOUT>.layout`

Filling in the blanks leads to an error.

**Current behavior**:

[code]

**Expected behavior**:
Successful signature generated.

I'm using in-toto-sign 1.2.0

I would also suggest using the self

[2022-05-08 01:26] adityasaky commented on #496
Hi @nealmcb, I think there's an error in your command.

1. It's either `-f` or `--file`.

2. You don't need to list `powner` as an argument for `--file`.

Can you try this?

`in-toto-sign --key powner --file untitled-165179314087.layout`

[2022-05-08 04:22] liufangwai commented on #493
Yes , which storage backend support for storing metadata ?

[2022-05-09 07:13] lukpueh commented on #493
in-toto supports reading and writing metadata from and to the local file system. But you can use library functions (e.g. [`in_toto_run`](https://in-toto.readthedocs.io/en/latest/api.html#in_toto.runlib.in_toto_run)) to generate link metadata in memory and write it to any desired storage backend.

[2022-05-09 07:21] lukpueh commented on #496
What about `in-toto-sign --help`? It does discuss your question in a few places, e.g.:

[code]

or

[code]

and also in EXAMPLE USAGE

[code]

[2022-05-09 07:26] lukpueh commented on #496
Oh, never mind what I just wrote. I got confused by @adityasaky's comment. @nealmcb isn't reporting an issue with `in-toto-sign`, but rather with the layout web tool. I suggest we transfer the issue to the corresponding repo.

[2022-05-09 15:29] adityasaky commented on #493
One backend you could consider is [Grafeas](https://github.com/grafeas/grafeas/blob/c188e86dabdab1e99f05772aee40940b1ca6e6e2/proto/v1beta1/intoto.proto).

[2022-06-28 16:50] adityasaky commented on #493
Closing now. Please reach out if you have more questions. You can also reach us via the mailing list (in-toto-public@googlegroups.com) or the #in-toto channel on the CNCF Slack workspace (https://slack.cncf.io/).

[2022-06-28 16:50] #493 closed, assigned to nobody

[2022-09-06 15:39] trishankatdatadog opened #506 "Create a security policy"
**Description of issue or feature request**:

Similar to [go-tuf](https://github.com/theupdateframework/go-tuf/issues/371), we should create a [security policy](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) so that researchers can properly disclose security issues.

[2022-09-07 07:43] lukpueh commented on #506
We have one in https://github.com/in-toto/in-toto#security-issues-and-bugs. But it's a good idea to move it to a canonical place.

[2022-10-13 15:28] weeraponka opened #510 "https://github.com/fipelab/fipelab.github.io.wiki.git"
https://github.com/fipelab/fipelab.github.io.wiki.git

[2022-10-14 07:48] #510 closed, assigned to nobody

[2022-10-27 19:00] aalsabag commented on #212
I'm looking to tackle this here.
My plan is to first introduce a flag "exclude-with-gitignore" which is by default set to false.
This will use the existing pathspec package to ignore through the gitignore.

[2022-10-27 19:12] gracenng commented on #506
Interested in working on this during ContribFest

[2022-10-28 14:11] jku opened #514 "Signing with GPG produces non-compliant metadata"
Intoto seems to produce non-compliant metadata when signing with GPG. See https://github.com/in-toto/in-toto/blob/cb562165b2f62d1fabc80b0b5fdcf212df8fd3d6/tests/demo_files_gpg/write-code.8288ef56.link:
[code]
compare to the spec https://github.com/in-toto/docs/blob/master/in-toto-spec.md#42-file-formats-general-principles
[code]

Note `sig` vs `signature` as the keyname.

Signing with non-gpg keys

[2022-10-28 14:43] trishankatdatadog commented on #514
You are right: if you look at [production python-in-toto metadata](https://github.com/DataDog/integrations-core/tree/master/.in-toto), it says `"signature"`. But this is inconsistent with not only the in-toto spec, but also the sibling [TUF spec](https://theupdateframework.github.io/specification/v1.0.31/index.html#file-formats-general-principles), which both say `"sig"`.

I think we should update

[2022-10-28 15:07] jku commented on #514
I'm not sure what you mean by "updating the spec" but I think we agree on the backwards compat issues.

If the issue is fixed (and "sig" is used consistently as the key):
* old verifiers (using current or older securesystemslib) will likely fail to verify new metadata. I don't see any way to work around this. It's unfortunate that the "other_headers" are required -- I think without those we might

[2022-10-28 15:36] trishankatdatadog commented on #514
Oh, right, I forgot about this bit, unless we use a (soon to be deprecated) flag to allow generating both keys with the same value.

[2022-11-02 17:12] lukpueh commented on #514
Thanks for reporting! Left a couple of related comments in https://github.com/secure-systems-lab/securesystemslib/issues/448#issuecomment-1300898410 pp. Let's bundle discussion in one place.

[2022-11-04 18:01] gracenng commented on #506
@lukpueh can you close this issue? I don't have permissions

[2022-11-04 18:07] #506 closed, assigned to nobody

[2022-11-04 18:08] adityasaky commented on #506
Thanks @gracenng!

[2022-11-07 19:21] weeraponka opened #517 "https://www.atlassian.com/legal/cloud-terms-of-service#"
1

[2022-11-07 19:58] adityasaky commented on #517
Spam!

[2022-11-07 19:58] #517 closed, assigned to nobody

[2022-11-08 08:04] lukpueh commented on #517
This is the second spam issue from this account. I'll block and report them.

[2022-11-09 14:15] danbev opened #519 "Add support for ecdsa key-type"
**Description of issue or feature request**:
Currently, commands like `in-toto-sign`, and `in-toto-run` support a command line option named `--key-type`:
[code]
Would it be possible to add support for ECDSA key types?

The reason for asking this that it would be nice to be able to use keys generated by `cosign` but currently it looks like `cosign` [only generates ECDSA-P256 keys and uses SHA256 ha

[2022-11-09 20:07] adityasaky commented on #519
Thanks for opening the issue, @danbev! Yes, the CLI tools in in-toto-python should be updated to include / indicate support for ECDSA keys and it should be a small diff overall. I say "indicate" because the underlying `in_toto_run` API already supports ECDSA keys because the securesystemslib API it uses in turn [supports ECDSA keys](https://github.com/secure-systems-lab/securesystemslib/blob/4e63f

[2022-11-10 05:25] danbev commented on #519
I'll take a shot at doing this :+1:

[2022-11-10 20:53] #519 closed, assigned to nobody

[2022-11-14 14:45] danbev opened #522 "Tool for importing PEM formatted ecdsa keys"
**Description of issue or feature request**:
Currently, the in-toto command line tools support a `--key-type` option of `ecdsa`. The expected format is of type json following the securesystemslib specification.

When creating keys with tools like `openssl` or `cosign` the generated keys are often in PEM format and they have to be converted to be able to be passed to the in-toto command line tools.

[2022-11-28 23:57] adityasaky commented on #522
This probably belongs in securesystemslib. Would a fix for https://github.com/secure-systems-lab/securesystemslib/pull/453 make this redundant?

[2022-11-29 07:26] danbev commented on #522
I think that fix will help as people will not run into the issue with key_id's not being consistently generated.

But the suggestion in this issue is that from a users perspective, coming to in-toto with a key generated by cosign the user would have to perform the conversion from `pem -> securesystemlib json format` themselves. Just trying to use the cosign key directly without this conversion wil

[2022-11-29 10:10] lukpueh commented on #522
Thanks for raising this issue and sharing your script, @danbev! I agree that it would be extremely useful to make in-toto support standard (and other custom) key formats. The good news is, we are working on a more flexible signing API in securesystemslib, which should make this more intuitive (see `Signer` interface in https://github.com/secure-systems-lab/securesystemslib/pull/456, if you are cur

[2022-11-29 12:16] danbev commented on #522
@lukpueh This sounds great! I'll try to take a closer look signing API too :+1:

[2022-11-29 13:03] jku commented on #522
would this script just work if you _don't_ use `import_ecdsa_publickey_from_file()`? You write the file yourself, so you can just make sure it's a valid key dictionary so that there's no need to "import" it -- just read it:
* include keyid in in the serialization json
* when loading, just read the file as json: that's your keydict

[2022-11-29 13:54] danbev commented on #522
Yes, I really just left the function call in there so that if this issue was fixed upstream, we could remove the messing about with the keyid's at that  point.

[2022-11-29 14:29] jku commented on #522
I'm not sure keyid generation will ever be "stable and reliable", I think it makes sense to move to a direction where we don't rely on that.

My initial hand waving about the key generation/import: https://github.com/secure-systems-lab/securesystemslib/issues/466